<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="User" lan="LAN_PLUGIN_USER_NAME" version="1.0" date="2014-01-01" compatibility="2.0" installRequired="false" >
	<author name="e107 Inc." url="https://e107.org" />
	<description lan="LAN_PLUGIN_USER_DESC">Theme and Language Menus</description>
	<category>user</category>
</e107Plugin>