@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21917124');
  src: url('../font/fontello.eot?21917124#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?21917124') format('woff2'),
       url('../font/fontello.woff?21917124') format('woff'),
       url('../font/fontello.ttf?21917124') format('truetype'),
       url('../font/fontello.svg?21917124#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21917124#fontello') format('svg');
  }
}
*/
 
 [class^="e-social-"]:before, [class*=" e-social-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.e-social-gplus:before { content: '\e800'; } /* '' */
.e-social-stumbleupon:before { content: '\e801'; } /* '' */
.e-social-pinterest:before { content: '\e802'; } /* '' */
.e-social-digg:before { content: '\e803'; } /* '' */
.e-social-reddit:before { content: '\e804'; } /* '' */
.e-social-blogger:before { content: '\e805'; } /* '' */
.e-social-dribbble:before { content: '\e806'; } /* '' */
.e-social-linkedin:before { content: '\e807'; } /* '' */
.e-social-skype:before { content: '\e808'; } /* '' */
.e-social-twitter:before { content: '\e809'; } /* '' */
.e-social-youtube:before { content: '\e80a'; } /* '' */
.e-social-vimeo:before { content: '\e80b'; } /* '' */
.e-social-yahoo:before { content: '\e80c'; } /* '' */
.e-social-email:before { content: '\e80d'; } /* '' */
.e-social-dropbox:before { content: '\e80e'; } /* '' */
.e-social-facebook:before { content: '\e80f'; } /* '' */
.e-social-tumblr:before { content: '\e811'; } /* '' */
.e-social-yelp:before { content: '\e812'; } /* '' */
.e-social-delicious:before { content: '\e813'; } /* '' */
.e-social-acrobat:before { content: '\e814'; } /* '' */
.e-social-linkedin-rect:before { content: '\e815'; } /* '' */
.e-social-blogger-rect:before { content: '\e816'; } /* '' */
.e-social-instagram-1:before { content: '\e817'; } /* '' */
.e-social-instagram-filled:before { content: '\e818'; } /* '' */
.e-social-google:before { content: '\e819'; } /* '' */
.e-social-rss:before { content: '\e81a'; } /* '' */
.e-social-spread:before { content: '\e81b'; } /* '' */
.e-social-flattr:before { content: '\e81c'; } /* '' */
.e-social-flickr:before { content: '\e81d'; } /* '' */
.e-social-instapaper:before { content: '\e81e'; } /* '' */
.e-social-thumbs-up:before { content: '\e81f'; } /* '' */
.e-social-mail:before { content: '\e820'; } /* '' */
.e-social-mail-alt:before { content: '\e821'; } /* '' */
.e-social-foursquare:before { content: '\e822'; } /* '' */
.e-social-share:before { content: '\e823'; } /* '' */
.e-social-export:before { content: '\e824'; } /* '' */
.e-social-pocket:before { content: '\e825'; } /* '' */
.e-social-wordpress:before { content: '\e826'; } /* '' */
.e-social-pinboard:before { content: '\e827'; } /* '' */
.e-social-instagram:before { content: '\e828'; } /* '' */
.e-social-vk:before { content: '\e829'; } /* '' */
.e-social-vine:before { content: '\e82a'; } /* '' */
.e-social-meetup:before { content: '\e82b'; } /* '' */
.e-social-youtube-play:before { content: '\e82c'; } /* '' */
.e-social-github:before { content: '\f09b'; } /* '' */
.e-social-steam:before { content: '\f1b6'; } /* '' */
.e-social-twitch:before { content: '\f1e8'; } /* '' */ 