body {
	color: #000;
	font: 11px verdana, tahoma, arial, sans-serif;
	background-color: #D1CFCF;
}
a {
	color: #035479; 
	text-decoration: none;
}
a:hover {
	color: #DC6504;
	text-decoration: none;
}

.mainbox {
	border: 1px solid #879397;
	background-color: #fff;
	color: #000;
}

.smalltext {
	color: #000;
	font: 10px verdana, tahoma, arial, sans-serif;
}

.headertext {
	color: #DC6504;
	font: 16px verdana, tahoma, arial, sans-serif;
	font-weight: bold;
}

.indent {
	border: 1px solid #D1CFCF;
	background-color: #efefef;
	color: #000;
	padding: 10px;
}

.ctable {
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	width: 50%;
	border: 1px solid #879397;
	background-color: #fff;
	color: #000;
}

.colh {
	border: 1px solid #c3c3c3;
	padding: 4px;
	background-color: #eaeaea;
	font-weight: bold;
}

.col1 {
	width: 40%;
	text-align: center;
	border: 1px solid #c3c3c3;
}

.col2 {
	width: 5%;
	border: 1px solid #c3c3c3;
}

.col3 {
	width: 55%;
}

.tb {
	width: 90%;
}