# Ignore PhpStorm IDE files
.idea
.project
.htaccess
e107_config.php
e107_config_*.php
e107_media/*
e107_system/*
/.settings
e107_core/override
test/*
tmp/*

# Ignore Vim swap files
*.swp
*.swo
e107.htaccess
e107InstallLog.log
