[submodule "e107"]
	path = e107
	url = https://github.com/e107inc/e107.git
	branch = .
[submodule "lib/cpaneluapi"]
	path = lib/cpaneluapi
	url = https://github.com/N1ghteyes/cpanel-UAPI-php-class.git
	branch = .
