




.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: transparent;
}


@media (min-width: 768px)   {
#layout-full, #layout-sidebar-right, #layout-sidebar-left   {
  padding-top: 120px;
 }
}
@media (min-width: 992px)   {
    #layout-full, #layout-sidebar-right, #layout-sidebar-left   { padding-top: 60px; }
    #sidebar { margin-top:20px }
}

.dropdown-menu { 
 background-color: #282828;
 color: white;
}

.dropdown-menu>li>a {
    color: white;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #9c27b0;
}




.panel {
    background-color: transparent;
}

.lz-social-icons li {  min-width:80px; text-align:center}

.panel-default {
    border-color: black;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #222;
    border-color: #9c27b0;
}

.bg-dark .panel-default {
    border-color: #9c27b0;
}

.bg-dark .panel-default>.panel-heading {
    color: white;
    background-color: #9c27b0;
    border-bottom: 1px solid #9c27b0;
}

.breadcrumb {
    background-color: #222;
}

.thumbnail {
    background-color: #222;
    border: 1px solid #9c27b0;
}

.thumbnail h5 {
	text-align: center;
}

.label-info {
    background-color: #9c27b0;
}

.main-section { min-height:800px }

.form-control[readonly] { color: #eee;  background-color: #36333d; }


/* CUSTOM Responsive Styles */


/* Extra small devices Phones (<768px)  .col-xs */
@media all and (max-width: 767px) { 

	body                                                                    { padding-top: 50px;  }
	.featurebox .carousel-indicators 										{ top:10px; }	
	.featurebox-item-image.pull-left, .featurebox-item-image.pull-right 	{ margin-top: 30px; }
	.news-images-main                                                       { padding-left: 0; padding-bottom:15px; padding-right:0}

}

/* Small devices Tablets .col-sm */
@media all and (min-width: 768px) and (max-width: 991px)  {
	.news-images-main       { padding-left: 0; padding-bottom:5px }
}

/* Medium devices Desktops (≥992px)  .col-md */
@media all and (min-width: 992px) and (max-width: 1199px)  {
	.news-images-main { padding-left: 0; padding-bottom:5px}
	section.news-view-item { padding-top: 0; }
 }

/* Large devices (large desktops, 1200px and up).col-lg  */
@media all and (min-width: 1200px) {

	.news-images-main { padding-left: 0; padding-bottom:5px}
	section.news-view-item { padding-top: 0; }
	h3.post-title { margin-top:5px }
}


.btn-success {
	color: #9c27b0;
	background-color: #282828;
	border: solid #9c27b0 1px;
}

.btn-success:hover {
	color: #9c27b0;
	background-color: #36333d;
	border: solid #9c27b0 1px;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: inherit;
    border-color: inherit;
}

/* fix for boostrap colors */
a.list-group-item:focus, a.list-group-item:hover {
    color: white;
    text-decoration: none;
    background-color: #9c27b0;
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #282828;
    border: solid #9c27b0 1px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.well {
    background-color: inherit;
}

.well legend {
  color: #9c27b0;
  border: 1px solid #9c27b0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #9c27b0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.pagination>li>a, .pagination>li>span {
    color: white;
    background-color: #282828;
    border: 1px solid #9c27b0;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: white;
    cursor: not-allowed;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.label-primary {
    background-color: #282828;
    border: solid 1px white;
}

.progress-bar-info {
    background-color: #9c27b0;
}

.jumbotron {
    background-color: #222;
}

.list-group-item {
    background-color: #222;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #9c27b0;
}

a.list-group-item {
    color: white;
}

 a.list-group-item .list-group-item-heading {
    color: white;
}

.panel-primary {
    border-color: #9c27b0;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.panel-footer {
    background-color: #222;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}
		
.footercolumn  li.nav-header {
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
} 
					
						
.footercolumn  li.nav-header li {
  font-size: 14px;
  line-height: 1.42857143;
  color: inherit;
  font-weight: normal;
} 

/* New Column Class for width < 558px */
@media (max-width: 558px) { 
	.col-xxs-12 {
	  position: relative;
	  min-height: 1px;
	  width: 100%;
	  float: none;
	  text-align: center;
	 } 
}  

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #9c27c1;
    border-color: #9c27c1;
}


.options .e-instant-edit {
 right: initial;
 margin-right: initial;
}

article .panel-footer i {
padding-left: 10px;
}
article .panel-footer i.fa-user {
padding-right: 3px;
}

.news-menu-archive { text-align:right }      

#forum   {
	border-color: black;
}

#forum .table-bordered>tbody>tr>td, 
#forum .table-bordered>tbody>tr>th, 
#forum .table-bordered>tfoot>tr>td, 
#forum .table-bordered>tfoot>tr>th, 
#forum .table-bordered>thead>tr>td, 
#forum .table-bordered>thead>tr>th {
    border: 1px solid black;
}
#forum tr.forum-title {
	background-color:#36333d;
} 
#forum tr.forum-parent {
 background-color: #9c27c1;
} 

#forum .table-hover>tbody>tr:hover {
    background-color: #36333d;
}

#forum-viewtopic li.forum-viewtopic-post {
   border: 1px solid black;
}

#forum-viewtopic li.forum-viewtopic-post:nth-child(odd) {
    background-color: #36333d;
}

#forum-viewforum .table-bordered>tbody>tr:hover {
  background-color: #36333d;
}

#forum-viewforum .table-bordered>tbody>tr>th {
  background-color: #9c27c1;
}


#layout-sidebar-right .navbar-default, #layout-full .navbar-default {

border-color: rgba(34,34,34,.05);
background-color: #222;

}

.navbar-default.affix .navbar-header .navbar-brand {
    font-size: 18px;
    color: inherit;
     letter-spacing: 0;
     text-shadow: none;
 /*   padding: inherit;*/

}