<?xml version="1.0" encoding="utf-8"?>

<!-- $Id: plugin.xml,v 1.11 2009-10-20 03:49:22 e107coders Exp $ -->

<e107Plugin name="EC_ADLAN_1" version="3.70" compatibility="0.8" installRequired="true" setupFile='calendar_setup.php'>
	<author name="e107 Inc. + Barry" url="http://e107.org" />
	<description>EC_ADLAN_A206</description>
	<readMe>readme.pdf</readMe>
	<category>content</category>
	<languageFiles>
		<file type='install' path='languages/--LAN--_install.php' />
		<file type='log' path='languages/--LAN--_log.php' />	
	</languageFiles>
	<adminLinks>
		<link url='admin_config.php' description='EC_ADINST_LAN_05' icon='images/calendar_32.png' iconSmall='images/calendar_16.png' primary='true' >EC_ADINST_LAN_05</link>	
	</adminLinks>
	<siteLinks>
		<link url="calendar_menu/calendar.php" >Calendar</link>		
	</siteLinks>
	<mainPrefs>
		<pref name="eventpost_admin">254</pref>
		<pref name="eventpost_super">254</pref>
		<pref name="eventpost_adminlog">0</pref>
		<pref name="eventpost_menulink">0</pref>
		<pref name="eventpost_showmouseover">0</pref>
		<pref name="eventpost_showeventcount">1</pref>
		<pref name="eventpost_forum">1</pref>
		<pref name="eventpost_recentshow">0</pref>
		<pref name="eventpost_weekstart">sun</pref>
		<pref name="eventpost_lenday">1</pref>
		<pref name="eventpost_dateformat">1</pref>
		<pref name="eventpost_datedisplay">1</pref>
		<pref name="eventpost_fivemins">1</pref>
		<pref name="eventpost_editmode">1</pref>
		<pref name="eventpost_caltime">0</pref>
		<pref name="eventpost_timedisplay">0</pref>
		<pref name="eventpost_timecustom">%H%M</pref>
		<pref name="eventpost_dateevent">1</pref>
		<pref name="eventpost_eventdatecustom">%A %d %B %Y</pref>
		<pref name="eventpost_datenext">1</pref>
		<pref name="eventpost_nextdatecustom">%d %b</pref>
		<pref name="eventpost_printlists">1</pref>
		<pref name="eventpost_asubs">1</pref>
		<pref name="eventpost_mailfrom">e107 Web Site</pref>
		<pref name="eventpost_mailsubject">Calendar - \{EC_MAIL_TITLE\}</pref>
		<pref name="eventpost_mailaddress">calendar@yoursite.com</pref>
		<pref name="eventpost_emaillog">1</pref>
		<pref name="eventpost_menuheading">Forthcoming Events</pref>
		<pref name="eventpost_daysforward">30</pref>
		<pref name="eventpost_numevents">3</pref>
		<pref name="eventpost_checkrecur">1</pref>
		<pref name="eventpost_linkheader">0</pref>
		<pref name="eventpost_fe_set"></pref>
		<pref name="eventpost_fe_hideifnone">0</pref>
		<pref name="eventpost_fe_showrecent">0</pref>
		<pref name="eventpost_showcaticon">0</pref>
		<pref name="eventpost_namelink">0</pref>
	</mainPrefs>
</e107Plugin>