<?xml version="1.0" encoding="iso-8859-1"?>

<!-- $Id: plugin.xml,v 1.6 2009-07-09 02:47:13 e107coders Exp $ -->

<e107Plugin name="EC_ADLAN_1" version="3.70" compatibility="0.8" installRequired="true">
	<author name="jalist / cameron / McFly / Barry / Lisa_ / steved" url="http://e107.org" />
	<description>EC_ADLAN_A206</description>
	<readMe>readme.pdf</readMe>
	<folder>calendar_menu</folder>
	<category>content</category> 
	<installLanguageFile filename="languages/--LAN--_install.php" />
	<logLanguageFile filename="languages/--LAN--_log.php" />
	<administration>
		<configFile>admin_config.php</configFile>
		<icon>images/calendar_32.png</icon>
		<iconSmall>images/calendar_16.png</iconSmall>
		<caption>EC_ADINST_LAN_05</caption>
		<installDone>EC_ADINST_LAN_04</installDone>
	</administration>
	<menuLink name="Calendar" url="calendar_menu/calendar.php" />
	<mainPrefs>
		<pref name="eventpost_admin" value="254" />
		<pref name="eventpost_super" value="254" />
		<pref name="eventpost_adminlog" value="0" />
		<pref name="eventpost_menulink" value="0" />
		<pref name="eventpost_showmouseover" value="0" />
		<pref name="eventpost_showeventcount" value="1" />
		<pref name="eventpost_forum" value="1" />
		<pref name="eventpost_recentshow" value="0" />
		<pref name="eventpost_weekstart" value="sun" />
		<pref name="eventpost_lenday" value="1" />
		<pref name="eventpost_dateformat" value="1" />
		<pref name="eventpost_datedisplay" value="1" />
		<pref name="eventpost_fivemins" value="1" />
		<pref name="eventpost_editmode" value="1" />
		<pref name="eventpost_caltime" value="0" />
		<pref name="eventpost_timedisplay" value="0" />
		<pref name="eventpost_timecustom" value="%H%M" />
		<pref name="eventpost_dateevent" value="1" />
		<pref name="eventpost_eventdatecustom" value="%A %d %B %Y" />
		<pref name="eventpost_datenext" value="1" />
		<pref name="eventpost_nextdatecustom" value="%d %b" />
		<pref name="eventpost_printlists" value="1" />
		<pref name="eventpost_asubs" value="1" />
		<pref name="eventpost_mailfrom" value="e107 Web Site" />
		<pref name="eventpost_mailsubject" value="Calendar - \{EC_MAIL_TITLE\}" />
		<pref name="eventpost_mailaddress" value="calendar@yoursite.com" />
		<pref name="eventpost_emaillog" value="1" />
		<pref name="eventpost_menuheading" value="Forthcoming Events" />
		<pref name="eventpost_daysforward" value="30" />
		<pref name="eventpost_numevents" value="3" />
		<pref name="eventpost_checkrecur" value="1" />
		<pref name="eventpost_linkheader" value="0" />
		<pref name="eventpost_fe_set" value="" />
		<pref name="eventpost_fe_hideifnone" value="0" />
		<pref name="eventpost_fe_showrecent" value="0" />
		<pref name="eventpost_showcaticon" value="0" />
		<pref name="eventpost_namelink" value="1" />
	</mainPrefs>
	<management>
		<install when="post" type="classFunction" file="calendar_install.php" class="calendarInstall" function="postInstall" />
		<uninstall when="pre" type="classFunction" file="calendar_install.php" class="calendarInstall" function="preUninstall" />
		<upgrade when="pre" type="classFunction" file="calendar_install.php" class="calendarInstall" function="postUpgrade" />
	</management>
</e107Plugin>