body, html {
	margin: 0 auto;
	background: #E4F2FF url(images/bg.png) repeat-y center;
	width: 767px;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida, Helvetica, Verdana, Arial, Sans-serif;
	text-align: center;
}

a:link {
	color: #3F729E;
	text-decoration: none;
	page-break-after: always;
}

a:visited {
	color: #093860;
	text-decoration: none;
}

a:hover, a:active {
	color: #093860;
}

#rap {
  	margin-left: auto;
  	margin-right: auto;
  	width: 749px;
}

#header {
	background: url(images/header.png) repeat-x;
	height: 80px;
	width: 747px;
	margin: 0 auto;
	text-align: left;
}

#header a {
	text-decoration: none;
	font-size: 18pt;
	position: relative;
	top: 45px;
	left: 10px;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
}

#header a:visited {
	color: #3F729E;
}

#header a:hover {
	color: #093860;
}

.wrapper {
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}

#menu {
	width: 170px;
	margin-left: 575px;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 20px;
}

#menu a {
	text-decoration: none;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
}

#menu a:visited {
	color: #3F729E;
}

#menu a:hover {
	color: #093860;
}

#menu input, textarea {
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: .9em;
	font-weight: normal;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}

.tbox.chatbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.menubox {
	color: #242424;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida, Helvetica, Verdana, Arial, Sans-serif;
	font-size: 8pt;
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #D7D7D7;
	background: #EAEAEA;
	width: 150px;
/*	margin-left: 20px;*/
}

.post {
	width: 540px;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	float: left;
	padding: 10px;
	text-align: left;
}

.textstyle1 {
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	color: #888;
}

.textstyle2 {
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}

.textstyle4 {
	font-size: 13px;
	margin: 5px 0 0 0;
}

.textstyle4 a:link {
	color: #000;
}

.textstyle4 a:visited {
	color: #000;
	text-decoration: none;
}

.textstyle4 a:hover, a:active {
	color: #093860;
}

.post .textstyle3 {
	font-size: 10px;
	border-left: 1px solid #ddd;
	padding-left: 5px;
	text-align: justify;
	}

.textstyle3 a:hover {
	background: #EFF8FF;
}

.postinfo {
	font-size: 9px;
	width: 541px;
	background: #eee;
	padding: 2px 0 2px 2px;
}

.postinfo a:link {
	color: #606060;
}

.postinfo a:hover {
	color: #093860;
}


#titlebar2{
	width: 500px;
	font-size: .7em;
}

#sitedisclaimer {
	clear: both;
	width: 747px;
	margin: 0 auto;
	font-size: .6em;
	line-height: 2.4em;
	text-align: center;
}

.date {
	width: 543px;
	font-size: .8em;
	background: url(images/titlebar.png) no-repeat;
	height: 23px;
	margin: 0;
	padding-top: 4px;
	padding-left: 5px;
	color: #0E2E4A;
}

.smalltext {
    background: none;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	color:#5d6e75;
}
.smallblacktext {
    background: none;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#000;
}
.indent{
	padding: 10px 10px 10px 10px;
	margin: 5px;
	font: 9px verdana, tahoma, arial, sans-serif;
	color: #000060;
	border: 1px solid #cfcdcd;
	background-color: #efefef;
}
.defaulttext {
    background: none;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#000;
}

td {
    background: none;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#5d6e75;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align:left;
}

blockquote {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-style: italic;
	color:#7e96ac;
}
.mediumtext {
    background: none;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000;
}
.captiontext {
    background: none;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 18px;
	color:#000080;
}
.tbox{
	background-color: #F4F7FA;
	border-bottom: #5e5d63 1px solid;
	border-left: #5e5d63 1px solid;
	border-right: #5e5d63 1px solid;
	border-top: #5e5d63 1px solid;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
}
.button{
	color: #fff;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	text-align:center;
	background-color: #4F5974;
	border-bottom: #333A4B 1px solid;
	border-left: #7180A6 1px solid;
	border-right: #333A4B 1px solid;
	border-top: #7180A6 1px solid;
	letter-spacing: 0.1em;
	cursor:pointer
}

.button a{
	color: #FFF;
	}
.button a:hover{
	color: #CFCFDF;
	text-decoration: none;
}

.nextprev{
	width: 535px;
	font-size: .8em;
	background: url(images/titlebar.png) no-repeat;
	height: 23px;
	margin: 0;
	padding-top: 6px;
	padding-left: 5px;
	color: #0E2E4A;
	padding-right: 10px;
}

form {
	margin: 2px 0px 0px 0px;
}
.spacer{
	padding-bottom : 2px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 2px;
}
hr {
	border-top: #666 1px solid;
	border-bottom: #eee 1px solid;
	height: 2px;
	width: 92%;
	text-align:center;
	border-style: dotted;
}
.border {
	border: #999 1px solid;
	background-color: #F0F1F1;
	padding: 2px;
}

.bodytable {
	padding: 2px;
	background-color: transparent;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000;
}

p {
	margin-top: 0px
}

.fborder {
	border: 1px solid #c3bdbd;
	background-color: #fff;

}
.forumheader{
	background-color: #EBEFF2;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: 1px solid #C3BDBD;
}

.forumheader2{
	background-color: #EFEFEF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.forumheader3{
	background-color: #eaeaea;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: #c3bdbd 1px solid;
}

.forumborder{
	border-bottom: #000080 1px solid;
	border-left: #000080 1px solid;
	border-right: #000080 1px solid;
	border-top: #000080 1px solid;
	background-color: transparent;
}

.fcaption {
	border: #c3bdbd 1px solid;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 2px;
	background-color: #dcdada;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color:#616060;
}

.topbar {
	background-image : url('images/topbar.png');
}
.leftbar {
	background-image : url('images/leftbar.png');
}

.finfobar{
	background-color: #CCC8C8;
	color:#000;
	padding: 4px;
	border: 1px solid #C3BDBD;
	font-style:normal; font-variant:normal;
	font-weight:normal; font-size:11px;
	font-family:verdana, tahoma, arial, helvetica, sans-serif
}

a.forumlink{
	color: #616060;
	text-decoration: underline;
}

.helpbox {
	border: 0px none red;
	background-color: transparent;
	color:#000;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}
.linkspage_button{
	border:0px;
}