<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Private Messenger" lan="LAN_PLUGIN_PM_NAME" version="3.0" date="2012-08-01" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="http://e107.org" />
	<description lan="LAN_PLUGIN_PM_DESCRIPTION">This plugin is a fully featured Private Messaging system.</description>
	<category>users</category>
	<adminLinks>
		<link url='admin_config.php' description='LAN_CONFIGURE' icon='images/pvt_message_32.png' iconSmall='images/pvt_message_16.png' primary='true' />
	</adminLinks>
	<pluginPrefs>
		<pref name="title">LAN_PM</pref>
		<pref name="animate">1</pref>
		<pref name="dropdown">0</pref>
		<pref name="read_timeout">0</pref>
		<pref name="unread_timeout">0</pref>
		<pref name="popup">0</pref>
		<pref name="popup_delay">3</pref>
		<pref name="perpage">10</pref>
		<pref name="pm_class">e_UC_MEMBER</pref>
		<pref name="notify_class">e_UC_ADMIN</pref>
		<pref name="receipt_class">e_UC_MEMBER</pref>
		<pref name="attach_class">e_UC_ADMIN</pref>
		<pref name="attach_size">500</pref>
		<pref name="sendall_class">e_UC_ADMIN</pref>
		<pref name="multi_class">e_UC_ADMIN</pref>
		<pref name="allow_userclass">1</pref>
		<pref name="pm_limits">0</pref>
		<pref name="pm_max_send">100</pref>
		<pref name="send_to_class">matchclass</pref>
		<pref name="maxlength">0</pref>
		<pref name="opt_userclass">e_UC_NOBODY</pref>
		<pref name="vip_class">e_UC_NOBODY</pref>
	</pluginPrefs>
</e107Plugin>