/* Backwards Compatibility Stylesheet for v1.x */

/* Bootstrap Alerts */
.alert          { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.alert-success  { color: #3C763D; background-color: #DFF0D8; border-color: #D6E9C6; 	}
.alert-info     { color: #31708F; background-color: #D9EDF7; border-color: #BCE8F1; }
.alert-warning  { color: #8A6D3B; background-color: #FCF8E3; border-color: #FAEBCC; 	}
.alert-danger   { color: #A94442; background-color: #F2DEDE; 	border-color: #EBCCD1; 	}
.alert
.alert-link     { font-weight: 700; 	}

.alert .close   { color: #000; }
.alert .close, .alert a.btn
				{ text-decoration: none; 	}
.close          { float: right; font-size: 21px; line-height: 1; color: #000; text-shadow: 0 1px 0 #FFF; opacity: 0.2; 	}
a.btn           {  }
.s-message .s-message-title
				{ margin-top: 0; background: transparent none no-repeat scroll 0 50%; font-size:150%	}

mark            { text-decoration: underline; color:#FF0000; font-weight:bold; } /* .searchhighlight */
.list-unstyled  { list-style: outside none none; }

#login-template { width:60%; max-width:350px; margin-right:auto;margin-left:auto; }
div.form-group  { padding-top: 5px }

div.news-empty  { text-align:center; font-weight: bold }

div.checkboxes label.checkbox { display: block }

textarea.bbarea { margin:0;  }
#chatbox-input-block { text-align:center }
ul.breadcrumb { margin:15px 0; }
ul.breadcrumb li { display:inline-block;  padding-right:5px;}
ul.breadcrumb li span.divider { padding-left:5px; }

.row { margin-left:15px; margin-right:15px;  }
.col-md-3 { float:left; width:25%; margin-right:15px}

.thumbnail img { border-radius:8px; }

.img-responsive { max-width:100%; }
.logo.img-responsive { height: auto; }

table.table { width: 100% }

.media-list {
    padding-left: 0;
    list-style: none;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}

.form-control { max-width:100% }

.e-debug .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}