/*THIS IS THE STYLESHEET FOR MEDIUM SIZED TEXT SIZE*/
/*Increase font sizes +1px from original CSS*/
body, h4, .formfield, .formbutton{
	font-size: 12px;
}
h3{
	font-size: 15px;
}
#credits, .c_commentinfo{
	font-size: 11px;
}