table { margin-left:auto; margin-right:auto; }
.searchhighlight{text-decoration: underline;color:#FF0000;font-weight:bold;}

/*
 * Please DO NOT USE or reference any of the following class definitions.
 * They are not referenced anywhere in the e107 core. (0.700, 7 Feb 2005)
 * This file will be eliminated after the remaining definitions (above) 
 *   have been either verified as unnecessary, or added to all themes.
 */

.defaulttable, .fbdefault, .fdefault, .f2default, .f3default, .fcdefault{ display: block; width: auto; }
.center{ text-align:center; }
.right { text-align:right; }
.left { text-align:left; }
.day {
  text-align: center;
  background: #F1EAE1;
  font: 10px tahoma, verdana, arial, helvetica, sans-serif;
  padding: 2px 1px 2px 1px;
}
.dayentry {
  text-align: center;
  background: #F1C7B7;
  font: 10px tahoma, verdana, arial, helvetica, sans-serif;
  padding: 2px 1px 2px 1px;
}
.forumheader4{
	background-color: #EBEFF2;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
	cursor: pointer;
}
.forumheader5{
	background-color: #BCD5EA;
	color:#000;
	cursor: pointer;
}
ul{
	margin-top:0px;
	margin-bottom:0px;
}