div.menuBar,
div.menuBar a.menuButton, div.menuButton, div.menuButton_over, 
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif2", arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

div.menuBar {
  background-color: #FFF8D9;
  border-top: 1px solid #ffffff;
  border-bottom: 0px solid #000;
  padding: 4px 0px 4px 0px;
  text-align: left;
}

div.emenuBar {
  background-color: #FFF8D9;
  border-top: 1px solid #ffffff;
  border-bottom: 0px solid #000;
  text-align: left;
}

div.menuBar a.menuButton, div.menuButton, div.menuButton_over {
  background-color: transparent;
  border: 1px solid #FFF8D9;
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 0px;
  padding: 2px 4px 2px 22px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover, div.menuButton:hover, div.menuButton_over {
  background-color: transparent;
  border-color: #ffffff #a5a5a5 #a5a5a5 #ffffff;
  color: #000000;
}

div.menuBar a.menuButtonActive, div.menuButtonActive, div.menuButtonActive:hover, 
div.menuBar a.menuButtonActive:hover {
  background-color: #ffffef;
  border-color: #a5a5a5 #ffffff #ffffff #a5a5a5;
  color: #000;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #FFF8D9;
  border: 1px solid;
  border-color: #ffffff #a5a5a5 #a5a5a5 #ffffff;
  left: 0px;
  padding: 1px 1px 1px 1px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 2px 11px 2px 0px;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #ffffef;
  color: #000000;
}

div.menu a.menuItem span.menuItemBuffer {
  padding: 0px 2px 0px 2px;
  color: #ffffff;
}

div.menu a.menuItem:hover span.menuItemBuffer {
  padding: 0px 2px 0px 2px;
  color: #000000;
}

div.menu a.menuItem span.menuItemText {
	padding: 0px 0px 0px 3px;
}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #ffffff;
  margin: 4px 2px;
}

a.menuItem.header {
  border-bottom: 1px solid #b3b3b3;
}