body {
	background: url(images/bg.gif) #e5e5e5 fixed no-repeat left bottom; margin: 10px; text-align: left
}
body {
	font: 10px verdana, arial, sans-serif
}

#logo {
	background-image: url(images/logo4.jpg);
	border: 1px solid #999;
	padding: 1px;
	margin: 0px;
	width: 800px;
	height: 80px;
}

.caption {
	background-image: url(images/caption.png);
	width: 200px;
	height: 34px;
}

.menubody {
	background-image: url(images/menu.png);
	width: 200px;
	background-repeat: repeat-y;
}

.menubottom {
	background-image: url(images/menubottom.png);
	width: 200px;
	height: 7px;
	background-repeat: no-repeat;
}

.captionpadder {
	padding-top: 2px;
	padding-left: 4px;
}

.menupadder {
	padding: 8px;
	width: 178px;
}


td {
	font: 10px verdana, arial, sans-serif
}
a {
	color: #5173b7; text-decoration: underline
}
a:hover {
	color: black; text-decoration: underline
}
.indent {
	border-right: #ffffff 1px solid; padding-right: 3px; border-top: #000 1px solid; padding-left: 3px; padding-bottom: 3px; margin: 5px; border-left: #000 1px solid; color: #000060; padding-top: 3px; border-bottom: #ffffff 1px solid; background-color: #ebebeb
}
.smalltext {
	font-size: 9px; color: #444; letter-spacing: -1px
}
.smallblacktext {
	font-weight: normal; font-size: 9px; color: #000; line-height: normal; font-style: normal; font-variant: normal
}
.defaulttext {
	color: #000
}
.mediumtext {
	font-size: 11px; color: #000
}
.captiontext {
	font: bold 14px/120% verdana, arial, helvetica, sans-serif; color: #000
}
.tbox {
	border-right: #559 1px solid; border-top: #559 1px solid; font-size: 10px; min-height: 15px; border-left: #559 1px solid; color: #005; border-bottom: #559 1px solid; font-family: verdana, arial, helvetica, sans-serif; background-color: #e4e9f6
}
.tbox.chatbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.button {
	border-right: #5e5d63 1px solid; border-top: #5e5d63 1px solid; font-size: 10px; background-image: url(images/button.png); border-left: #5e5d63 1px solid; color: #000; border-bottom: #5e5d63 1px solid; text-align: center
}
.button:hover {
	background-image: url(images/button_hover2.png); color: #fff
}
.nextprev {
	border-right: #77a 1px solid; padding-right: 1px; border-top: #77a 1px solid; padding-left: 1px; font-size: 9px; background-image: url(images/button.png); padding-bottom: 1px; border-left: #77a 1px solid; color: #000; padding-top: 1px; border-bottom: #77a 1px solid; background-color: #fcfcfc; text-align: center
}
.nextprev:hover {
	background-image: url(images/button_hover.png)
}
form {
	margin: 2px 0px 0px
}
.spacer {
	padding: 0 0 3px 0;
}
hr {
	border-top: #006699 1px solid; vertical-align: bottom; width: 100%; border-bottom: #c6d6d6 1px solid; height: 2px; text-align: center
}
.border {
	border-right: #91a7d4 2px solid; border-top: #91a7d4 2px solid; border-left: #91a7d4 2px solid; border-bottom: #91a7d4 2px solid; background-color: transparent
}

.infobar {
	border-right: #ccc 1px solid; padding-right: 4px; border-top: #fff 1px solid; padding-left: 4px; font-size: 10px; background-image: url(images/cap1.gif); padding-bottom: 4px; border-left: #fff 1px solid; color: #000; padding-top: 2px; border-bottom: #ccc 1px solid; background-color: #e2e2e2
}
p {
	margin-top: 0px
}
.fborder {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
.fbdefault {
	border-right: #bbb 1px solid; border-top: #bbb 1px solid; margin: 0px; border-left: #bbb 1px solid; border-bottom: #bbb 1px solid; background-color: #fff; text-align: left
}
.forumheader {
	border-right: #ccc 1px solid; padding-right: 4px; border-top: #888 1px solid; padding-left: 4px; font-weight: bolder; font-size: 12px; padding-bottom: 4px; border-left: #888 1px solid; color: #009; padding-top: 4px; border-bottom: #ccc 1px solid; background-color: #91a7d4; text-align: left
}
.forumheader2 {
	border-right: #c3bdbd 1px solid; padding-right: 4px; border-top: #c3bdbd 1px solid; padding-left: 4px; font-size: 12px; padding-bottom: 4px; border-left: #c3bdbd 1px solid; color: #000; padding-top: 4px; border-bottom: #c3bdbd 1px solid; background-color: #efefef; text-align: left
}
.f2default {
	border-right: #c3bdbd 1px solid; padding-right: 4px; border-top: #c3bdbd 1px solid; padding-left: 4px; font-size: 12px; padding-bottom: 4px; border-left: #c3bdbd 1px solid; color: #000; padding-top: 4px; border-bottom: #c3bdbd 1px solid; background-color: #efefef; text-align: left
}
.forumheader3 {
	border-right: #c3bdbd 1px solid; padding-right: 4px; border-top: #c3bdbd 1px solid; padding-left: 4px; font-size: 11px; padding-bottom: 4px; border-left: #c3bdbd 1px solid; color: #000; padding-top: 4px; border-bottom: #c3bdbd 1px solid; background-color: #fafafa; text-align: left
}
.f3default {
	border-right: #c3bdbd 1px solid; padding-right: 4px; border-top: #c3bdbd 1px solid; padding-left: 4px; font-size: 11px; padding-bottom: 4px; border-left: #c3bdbd 1px solid; color: #000; padding-top: 4px; border-bottom: #c3bdbd 1px solid; background-color: #fafafa; text-align: left
}
.fcaption {
	border-right: #557 1px solid; padding-right: 3px; border-top: #557 1px solid; padding-left: 3px; font-weight: bold; font-size: 11px; background-image: url(images/fcap.png); padding-bottom: 3px; border-left: #557 1px solid; color: #333; padding-top: 3px; border-bottom: #557 1px solid; background-color: #dfdfdf; text-align: left
}
.fcdefault {
	border-right: #557 1px solid; padding-right: 3px; border-top: #557 1px solid; padding-left: 3px; font-weight: bold; font-size: 11px; background-image: url(images/fcap.png); padding-bottom: 3px; border-left: #557 1px solid; color: #333; padding-top: 3px; border-bottom: #557 1px solid; background-color: #dfdfdf; text-align: left
}
.fcaption2 {
	border-right: #559 1px solid; padding-right: 0px; border-top: #559 1px solid; padding-left: 8px; font-weight: bold; background-image: url(images/fcap.png); padding-bottom: 2px; border-left: #559 1px solid; color: #559; padding-top: 2px; border-bottom: #559 1px solid; background-color: #e6e6e6
}
.fcdefault {
	background: #cccccc; color: #fff
}
.finfobar {
	border-right: #c3bdbd 1px solid; padding-right: 4px; border-top: #c3bdbd 1px solid; padding-left: 4px; background-image: url(forum/finfobar.png); padding-bottom: 4px; border-left: #c3bdbd 1px solid; color: #000; padding-top: 4px; border-bottom: #c3bdbd 1px solid; background-color: #ccc8c8
}
a.forumlink {
	color: #333; text-decoration: none
}
a.forumlink:hover {
	color: #000
}
.helpbox {
	border-right: red 0px; border-top: red 0px; font: 9px tahoma, verdana, arial, helvetica, sans-serif; border-left: red 0px; color: #000; border-bottom: red 0px; background-color: transparent
}
#wrapptable {
	border-right: #ccc 4px solid; border-top: #ccc 4px solid; background: #fff; font: 12px verdana, arial, sans-serif; border-left: #ccc 4px solid; border-bottom: #ccc 4px solid
}
.borderx {
	border-right: #ccc 1px solid; padding-right: 1px; border-top: #ccc 1px solid; padding-left: 1px; margin-bottom: 0.3em; padding-bottom: 1px; border-left: #ccc 1px solid; padding-top: 1px; border-bottom: #ccc 1px solid
}
.bordery {
	border-right: #ccc 1px solid; padding-right: 1px; border-top: #ccc 1px solid; padding-left: 1px; padding-bottom: 1px; border-left: #ccc 1px solid; padding-top: 1px; border-bottom: #ccc 1px solid
}
#line {
	background: url(images/line_bg.gif) repeat-x left top
}
.borderx#line {
	background: url(images/line_bg.gif) repeat-x left top
}
.line2 {
	border-right: #ccc 1px solid; padding-right: 3px; border-top: #ccc 1px solid; padding-left: 3px; font-weight: bolder; background: url(images/line_bg.gif) repeat-x; padding-bottom: 3px; border-left: #ccc 1px solid; color: #559; padding-top: 3px; border-bottom: #ccc 1px solid
}
.incontent {
	padding-right: 1em; padding-left: 1em; padding-bottom: 0.5em; padding-top: 0.5em
}
a.clean {
	font-weight: bold; color: #777; text-decoration: none
}
a.clean:hover {
	color: #000; text-decoration: none
}
.fl_left {
	float: left; margin: 2em 0.3em 0.3em; width: 285px
}
h6 {
	border-right: #999999 3px double; padding-right: 1em; border-top: #999999 3px double; padding-left: 1em; font-weight: bolder; font-size: 11px; background: #96aad6; padding-bottom: 0.3em; margin: 0px 50px 0px 0px; border-left: #999999 3px double; color: #fff; padding-top: 0.3em; border-bottom: medium none; text-align: left
}
h5 {
	border-right: #999999 1px solid; padding-right: 1em; border-top: #999999 1px solid; padding-left: 1em; background: #dadade; padding-bottom: 0.3em; margin: 0px 1px; border-left: #999999 1px solid; color: black; padding-top: 0.3em; border-bottom: #999999 1px solid
}
h4 {
	clear: both; font-weight: bolder; font-size: 10px; margin: 0.3em 0px 0.5em; color: #559;
}
h4 img {
	padding-right: 0px; padding-left: 0px; float: right; padding-bottom: 0px; padding-top: 0px; position: relative; top: -20px
}
lefticons {
	padding-right: 0px; padding-left: 0px; float: right; padding-bottom: 0px; margin: 0px; padding-top: 0px; position: relative; top: 2px
}
.box_red {
	border-right: #aaa 1px solid; padding-right: 0.3em; border-top: #aaa 1px solid; padding-left: 0.3em; background: url(images/box_bgshade_lbl.gif) repeat-x 50% bottom; padding-bottom: 0.3em; margin: 0px; border-left: #aaa 1px solid; color: #559; padding-top: 0.3em; border-bottom: #aaa 1px solid
}
.box_red ul {
	padding-right: 0px; padding-left: 0px; list-style-position: inside; list-style-image: url(images/bullet2.gif); padding-bottom: 0px; margin: 0px 0.5em 0.8em; padding-top: 0px
}
.box_red ul li {
	line-height: 17px
}
.box_red ul li a {
	color: black; text-decoration: none
}
.box_red ul li a:hover {
	color: #869ecf
}
#menu {
	clear: both; border-right: #777 1px solid; border-top: #777 1px solid; font-size: 9px; background: url(images/menu1.gif) #fff; border-left: medium none; border-bottom: #777 1px solid; height: 20px
}
#menu ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
ul.nobullets {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
.jsmenu ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
#menu li {
	padding-right: 0px; padding-left: 0px; float: left; padding-bottom: 0px; margin: 0px; width: 9%; padding-top: 0px; height: 20px
}
#menu a {
	display: block; background: url(images/menu1.gif) #eee; border-left: #7e7e7e 1px solid; width: 100%; color: #000; line-height: 20px; height: 20px; text-align: center; text-decoration: none
}
#menu a span {
	display: block; border-left: #fff 1px solid; width: 100%; height: 20px
}
#menu a:hover {
	background-position: 100% -36px; cursor: pointer; background-color: #ddd
}
#menu a.selected {
	background-position: 100% -36px; cursor: pointer; background-color: #ddd
}
.hide {
	display: none
}
#sub span {
	display: none
}
li#home {
	width: 11%
}
li#news {
	width: 11%
}
li#forum {
	width: 11%
}
li#admin span {
	border-right: #7e7e7e 1px solid
}
li#empty {
	border-left: #7e7e7e 1px solid
}
li#admin {
	background-color: red
}
.jsmenu {
	border-right: #555 1px solid; padding-right: 1px; border-top: #555 1px solid; display: none; padding-left: 1px; padding-bottom: 1px; border-left: #555 1px solid; padding-top: 1px; border-bottom: #555 1px solid; position: absolute; top: 30px; background-color: #fff
}
.jsmenu li {
	font-size: 10px; margin: 0px; border-bottom: #fff 1px solid; font-family: verdana,sans-serif
}
.jsmenu li.separator {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; line-height: 1px; padding-top: 0px; height: 1px; background-color: #fff
}
.jsmenu li a {
	border-right: #aaa 1px solid; padding-right: 2px; border-top: #aaa 1px solid; display: block; padding-left: 6px; padding-bottom: 2px; border-left: #aaa 1px solid; color: #000; padding-top: 1px; border-bottom: #aaa 1px solid; text-decoration: none
}
.jsmenu a:hover {
	background: #afafaf
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}

.linkspage_button{
	border:0px;
}