<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Alternate Authentication" lan="LAN_ALT_65" version="0.4" date="2012-08-01" compatibility="2.0" installRequired="true" >
	<author name="e107 Inc." url="e107.org" email="security@e107.org" />
	<description lan="LAN_ALT_66">This plugin allows for alternate authentication methods.</description>
	<category>users</category>
	<copyright>Copyright e107 Inc e107.org, Licensed under GPL (https://www.gnu.org/licenses/gpl.txt)</copyright>
	<adminLinks>
		<link url='alt_auth_conf.php' description='LAN_ALT_67' icon='images/alt_auth_32.png' iconSmall='images/alt_auth_16.png' primary='true'  />	
	</adminLinks>
	<mainPrefs>
		<pref name="auth_noconn">0</pref>
		<pref name="auth_badpassword">0</pref>
		<pref name="auth_method2">0</pref>
		<pref name="auth_extended"></pref>
	</mainPrefs>
</e107Plugin>