/*This is the LEAF skin, made by Ivan for Nucleus CMS*/
/*I am not a pro in CSS - If you are one and if you think it can be done better, by all means go ahead and adjust to your needs*/
/*I've tried my best to comment on most of the styles*/

/*BASIC STUFF*/
a:link, a:visited{
	color: #23598C;
	text-decoration: none;
}
a:hover, a:active{
	color: black;
}

img{
	border: none;
}

.linkspage_button{
	border:0px;
}

td{
	text-align:left;
}

/*This is used for hidden stuff, stuff that you don't want people to see with CSS enabled*/
/*Try disabling CSS and you'll see some messages that you don't see with CSS enabled*/
.hidden{
	display: none;
}

/*Use this to centerize any image/text*/
.centerize{
	text-align: center;
}

/* MAIN STRUCTURE */
/*Don't edit if you know what's good for you*/
body{
	color: #4C4C4C;
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	background: #123454 url(images/01_bg.gif) top repeat-x;
	padding: 20px 0 20px 0;
	text-align: center;
}
#wrapper{
	width: 700px;
	margin: auto;
	background: white url(images/01_bodybg.jpg) repeat-y;
	text-align: left;
}

/*The header image*/
#header{
	position: relative;
	width: 700px;
	height: 151px;
	margin: auto;
	background: url(images/01_header01.jpg) no-repeat;
}

/*The container - edit "230" to your desired width for the sidebar (lines 55, 58, 62)*/
#container{
	/* width: 100%; */
	float: left;
	margin-right: -230px; 
	width: 670px;
}
#content{
	margin-right: 230px;
	padding: 25px 0;
}
#sidebar{
	width: 230px;
	float: right;
	padding: 25px 0;
	text-align: left;
}
#footer{
	width: 700px;
	margin: auto;
	padding: 20px 0 0 0;
	background: url(images/01_footer.jpg) top no-repeat;
}

/* The container - custom page layout. resize adjustments for full screen */
#container_full{
	/* width: 100%; */
	float: left;
	margin-right: 0px; 
	/* -230 */
	width: 700px;
}
#content_full{
	/* margin-right: 230px; */
	padding: 25px 0;
}
#sidebar_full{
	width: 230px;
	float: right;
	padding: 25px 0;
	text-align: left;
	display:none;
}

/*Credits part is where the copyrights/xhtml/css validation stuff will be*/
#credits{
	font-size: 10px;
	text-align: center;
	color: #F7F7F7;
}
#credits a:link, #credits a:visited{
	color: #CFE6FD;
}
#credits a:hover, #credits a:active{
	color: white;
}
/*Ignore this*/
.clearing{
	height: 0;
	clear: both;
}
.smalltext{
	color:#fff;
}
#wrapper .smalltext{
	color:#000;
}

/*THE MAIN TITLE - YOUR BLOG NAME ON TOP OF THE HEADER*/
#header h1{
	position: absolute;
	top: 16px;
	left: 24px;
	height:35px;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	text-indent: 35px;
	background: url(images/01_logo.gif) bottom left no-repeat;



}

/*THE NAVIGATION - More detailed stuff in NAVIGATION LINKS section*/
#navigation{
	font-size: 11px;
	width: 694px;
	height: 22px;
	position: absolute;
	top: 129px;
	left: 3px;
	list-style: none;
}
#navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#navigation li{
	background: none;
 	display: inline;
}

/*  THE DEFAULT HEADERS (h2: Main titles, h3: Blog and Sidebar titles, h4: Comment names/userlinks)*/
h2{
	color: #3E565F;
	margin: 0 0 3px 0;
	font-size: 16px;
	height: 23px;
	margin: 0 0 5px 0;
}
h3{
	color: #3E565F;
	margin: 0 0 8px 0;
	font-size: 14px;
}
h4{
	font-size: 11px;
}

/*Sub structure - To create the margins of the body (where text will be placed)*/
.contentdiv{
	margin: 0 15px 0 22px;
}
.sidebardiv{
	margin: 0 22px 0 15px;
}


/* THE STYLING OF THE BODY OF CONTENTS AND SIDEBAR */
.contentbody{
	margin: 0;
	padding: 0 0 0 0;
	text-align: justify;
}
.sidebarbody{
	margin: 0 0 20px 0;
	padding: 0;
}

/* THIS PART IS THE SIDEBAR'S INDIVIDUAL DIVS */
/* Note that it doesn't have any styling, but it's here in case you want to add some styles */
.sidebarin{
	padding: 0;
	margin: 0;
}

/*MAIN TITLES*/
h2{
	height: 23px;
	text-indent: 20px;
	margin: 0 0 5px 0;
	background: url(images/01_m_default.gif) no-repeat;
}

/*You can remove all parts here if you do not wish to use images as your main titles*/
h2.news{
	text-indent: -9999px;
	background: url(images/01_m_news.gif) no-repeat;
}
h2.comment{
	text-indent: -9999px;
	background: url(images/01_m_comment.gif) no-repeat;
}

/* THIS PART IS TO STYLE THE BACKGROUND IMAGES (THE QUOTE ON THE LEFT) */
/* You can create different image on your on, but only if you know what you're doing should you edit this part */
/*
.divweblog .contentbody, .divarchives .contentbody, .divarchivelist .contentbody, .diverror .contentbody, .divmemberinfo .contentbody,
.divsendmessage .contentbody, .divcommentitem .contentbody, .divsearch .contentbody{
	background: url(images/01_quote.gif) 0 3px no-repeat;
}
*/

/* comments page is special */
.divcomment{ 
	margin: 0;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}

/* content pages */
.divcontent .contentbody{
	margin: 0;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}
.divcontent_manager .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}

/* special e107 page */
.divcvs .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	 background: url(images/01_cvs.gif) 0 3px no-repeat; */
}

/* downloads */
.divdownload .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	 background: url(images/01_download.gif) 0 3px no-repeat; */
}

/* forums */
.divforum .contentbody{
	margin: 0;
	/* padding: 0 0 10px 10px; */
	text-align: justify;
	/* background: url(images/01_forum.gif) 0 3px no-repeat; */
}
.divforum_viewforum .contentbody{
	margin: 0;
	/* padding: 0 0 10px 10px; */
	text-align: justify;
	/* background: url(images/01_forum.gif) 0 3px no-repeat; */
}

.divforum_viewtopic .contentbody{
	margin: 0;
	/* padding: 0 0 10px 10px; */
	text-align: justify;
	/* background: url(images/01_forum.gif) 0 3px no-repeat; */
}

/* links */
.divlinks .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}

.divnews .contentbody{
	margin: 0;
	padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat;
}

.divsubmitnews .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}
/* user pages */
.divuser .contentbody{
	margin: 0;
	padding: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}
.divusersettings .contentbody{
	margin: 0;
	text-align: justify;
	/* padding: 0 0 30px 43px;
	text-align: justify;
	background: url(images/01_quote.gif) 0 3px no-repeat; */
}



/* Add comment form's background */
.divaddcomment .contentbody{
	/* background: url(images/01_quote3.gif) 0 3px no-repeat; */
}

/*MORE DETAILED STUFF - Item details of your blog items */
.itemdetails{
	text-align: right;
	padding: 5px 0 0 0;
	background: url(images/01_hdot.gif) top repeat-x;
}

/* used in the newsstyle */ 
/* Posted by */
.item1{
	padding: 0 0 0 13px;
	margin: 0 0 0 12px;
	background: url(images/01_item1.gif) 0 1px no-repeat;
}
/* Category */
.item2{
	padding: 0 0 0 13px;
	margin: 0 0 0 12px;
	background: url(images/01_item2.gif) 0 3px no-repeat;
}
/* Comments */
.item3{
	padding: 0 0 0 15px;
	margin: 0 0 0 12px;
	background: url(images/01_item3.gif) 0 3px no-repeat;
}
.item4{
	padding: 0 0 0 15px;
	margin: 0 0 0 12px;
}
.item5{
	padding: 0 0 0 15px;
	margin: 0 0 0 12px;
}
/*FORM STYLING*/
form{
	margin: 0;
	text-align: center;
}
form p{
	padding: 1em;
	text-align: left;
}
/*Styling for all form fields*/

/*Form fields on focus effect (when user click on that input field)*/
.formfield:focus{
	border: 1px solid black;
}
/*Form's buttons*/
.formbutton{
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	margin: 1px 0 0 0;
	padding: 1px 10px;
	color: #494949;
	background: white;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right: 1px solid #868686;
}
/* Don't show textarea scrollbar on IE */
textarea{
	overflow: hidden;
}


/* STYLING OF MENU TITLES */

h3{   /* default styleing for menu items, do not remove */
	height: 23px;
	text-indent: 17px;
	margin: 0 0 2px 0;
	background: url(images/01_m_default.gif) no-repeat; 
}

h3.news{ /* remove background image from h3 in news posts */
	background: none;
}


/* You can remove all parts here if you do not wish to use images as your side titles */

h3.about {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_about.gif) no-repeat;
}

h3.login{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_login.gif) no-repeat;
}

h3.categories {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_categories.gif) no-repeat;
}
h3.search{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_search.gif) no-repeat;
}

h3.links{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_links.gif) no-repeat;
}

h3.online {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_online.gif) no-repeat;
}

h3.chatbox {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(images/01_s_chatbox.gif) no-repeat;
}

.compliance{

}




/* Sidbar menu content styles */

.defaultform{
	width: 174px;
	background: #E2EDF0 url(images/01_mountaintop2.gif) top no-repeat; 
	padding:4px;
}

/*THE LIST STYLES*/
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	padding: 0 0 0 9px;
	margin: 0 0 2px 0;
	background: url(images/01_arrow.gif) 0 6px no-repeat;
}

/*THE SEARCH HIGHLIGHT*/
.highlight{
	font-weight: bold;
	text-decoration: underline;
}

/* NAVIGATION LINKS */
.nav1 a:link, .nav1 a:visited, .nav2 a:link, .nav2 a:visited, .nav3 a:link, .nav3 a:visited, .nav4 a:link, .nav4 a:visited, .nav5 a:link, .nav5 a:visited, .nav6 a:link, .nav6 a:visited, .nav7 a:link, .nav7 a:visited, .nav8 a:link, .nav8 a:visited{
	color: #4E4E4E;
	width: 80px;
	height: 20px;
	line-height: 20px;
	background: url(images/01_linkbg2.gif) top repeat-y;
	padding: 0;
}
.nav1_onpage a:link, .nav1_onpage a:visited, .nav2_onpage a:link, .nav2_onpage a:visited, .nav3_onpage a:link, .nav3_onpage a:visited, .nav4_onpage a:link, .nav4_onpage a:visited, .nav5_onpage a:link, .nav5_onpage a:visited, .nav6_onpage a:link, .nav6_onpage a:visited, .nav7_onpage a:link, .nav7_onpage a:visited, .nav8_onpage a:link, .nav8_onpage a:visited{
	color: #4E4E4E;
	width: 80px;
	height: 20px;
	line-height: 20px;
	background: url(images/01_linkbg2.gif) top repeat-y;
	padding: 0;
}
.nav1 a:link, .nav1 a:visited, .nav1_onpage a:link, .nav1_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 14px;
}
.nav2 a:link, .nav2 a:visited, .nav2_onpage a:link, .nav2_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 96px;
}
.nav3 a:link, .nav3 a:visited, .nav3_onpage a:link, .nav3_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 178px;
}
.nav4 a:link, .nav4 a:visited, .nav4_onpage a:link, .nav4_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 260px;
}
.nav5 a:link, .nav5 a:visited, .nav5_onpage a:link, .nav5_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 342px;
}
.nav6 a:link, .nav6 a:visited, .nav6_onpage a:link, .nav6_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 424px;
}
.nav7 a:link, .nav7 a:visited, .nav7_onpage a:link, .nav7_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 506px;
}
.nav8 a:link, .nav8 a:visited, .nav8_onpage a:link, .nav8_onpage a:visited{
	position: absolute;
	top: 2px;
	left: 588px;
}

/*HOVER EFFECTS*/
.nav1 a:hover, .nav1 a:active,
.nav2 a:hover, .nav2 a:active,
.nav3 a:hover, .nav3 a:active,
.nav4 a:hover, .nav4 a:active,
.nav5 a:hover, .nav5 a:active,
.nav6 a:hover, .nav6 a:active,
.nav7 a:hover, .nav7 a:active,
.nav8 a:hover, .nav8 a:active{
	background: url(images/01_linkbg1.gif) top repeat-y;
	margin: 1px 0 0 0;
}

/*USE A DIFFERENT COLOR WHEN USER IS ON THAT PAGE*/

.nav1_onpage a:link, .nav1_onpage a:visited,
.nav2_onpage a:link, .nav2_onpage a:visited,
.nav3_onpage a:link, .nav3_onpage a:visited,
.nav4_onpage a:link, .nav4_onpage a:visited,
.nav5_onpage a:link, .nav5_onpage a:visited,
.nav6_onpage a:link, .nav6_onpage a:visited,
.nav7_onpage a:link, .nav7_onpage a:visited,
.nav8_onpage a:link, .nav8_onpage a:visited{
	background: url(images/01_linkbg1.gif) top repeat-y;
}

/*THE FOLLOWING PART IS FOR THE FONT CONTROL*/
#fontcontrol{
	background: none;
	width: 66px;
	height: 18px;
	position: absolute;
	top: 18px;
	left: 615px;
}
#fontcontrol ul{
	background: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
#fontcontrol li{
	background: none;
}
#fontcontrol i{
	display: block;
	visibility: hidden;
}
.font1 a:link, .font1 a:visited{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(images/01_font1.gif) no-repeat;
}
.font2 a:link, .font2 a:visited{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 22px;
	background: url(images/01_font2.gif) no-repeat;
}
.font3 a:link, .font3 a:visited{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 44px;
	background: url(images/01_font3.gif) no-repeat;
}
.font1 a:hover, .font1 a:active{
	background-position: 0 -18px;
}
.font2 a:hover, .font2 a:active{
	background-position: 0 -18px;
}
.font3 a:hover, .font3 a:active{
	background-position: 0 -18px;
}
/*END NAVIGATION LINKS*/

/*Nice Titles*/
.nicetitle {
	font-weight: bold;
	color: #3C3C3C;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 25em;
	z-index: 20;
	max-width: 50%;
}
.nicetitle-content{
	overflow: hidden;
	background: white;
	border: 1px solid #333;
	padding: 5px;
	opacity: 0.9;
}
.nicetitle p{
	margin: 0;
	line-height: 120%;
}
.nicetitle p.destination {
	font-weight: normal;
	font-size: 10px;
	color: #5E7743;
}
div.nicetitle p span.accesskey {
	color: #FF7200;
}

/* e107 core style */
.tbox, .helpbox{
	/* width: 80%; */
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	margin: 0 0 2px 0;
	color: #494949;
	border-top: 1px solid #868686;
	border-left: 1px solid #868686;
	border-bottom: 1px solid #D4D2CF;
	border-right: 1px solid #D4D2CF;
}
.button{
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	margin: 1px 0 0 0;
	padding: 1px 10px;
	color: #494949;
	background: white;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right: 1px solid #868686;
}
#commentform .tbox, #commentform .helpbox{
	/* width: 400px; 
	background-color:#000; */
}


.fborder, .border{
	border-collapse: collapse;
	border-spacing: 0px;
}

.forumheader, .forumheader2, .forumheader3, .forumheader4, .fcaption, .finfobar {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #D4DCDE;
}

.forumheader, .forumheader4, .finfobar {
	background-color: #E2EDF0;
}

.forumheader5 {
	cursor: pointer;
}

.fcaption, .forumheader5 {
	background-color: #fff;
}

table {
	margin-left: auto;
	margin-right: auto;
}


