<?xml version="1.0" encoding="utf-8"?>

<!-- $Id: plugin.xml,v 1.5 2009-10-20 03:49:22 e107coders Exp $ -->

	<e107Plugin name="PDF_PLUGIN_LAN_1" version="1.0" compatibility="0.8" installRequired="true" releaseUrl=''>
	<author name="Eric Vanderfeesten (lisa)" url="http://eindhovenseschool.net" email="lisa@eindhovenseschool.net" />
	<description>PDF_PLUGIN_LAN_2</description>
	<copyright>Copyright e107 Inc e107.org, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<languageFiles>
		<file type='log' path='languages/--LAN--_admin_pdf.php' />
	</languageFiles>
	<adminLinks>
		<link url='admin_pdf_config.php' description='PDF' icon='images/pdf_32.png' iconSmall='images/pdf_16.png' primary='true' >PDF</link>	
	</adminLinks>
	<pluginPrefs>
	</pluginPrefs>
</e107Plugin>