<?xml version="1.0" encoding="utf-8"?>

<!-- $Id: plugin.xml,v 1.3 2009-09-21 22:14:44 e107coders Exp $ -->

	<e107Plugin name="PDF_PLUGIN_LAN_1" version="1.0" compatibility="0.8" installRequired="true">
	<author name="Eric Vanderfeesten (lisa)" url="http://eindhovenseschool.net" email="lisa@eindhovenseschool.net" />
	<description>PDF_PLUGIN_LAN_2</description>
	<copyright>Copyright e107 Inc e107.org, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<logLanguageFile filename="languages/--LAN--_admin_pdf.php" />
	<administration>
		<configFile>admin_pdf_config.php</configFile>
		<icon>images/pdf_32.png</icon>
		<iconSmall>images/pdf_16.png</iconSmall>
		<caption>PDF</caption>
		<installDone>PDF_PLUGIN_LAN_4</installDone>
	</administration>
	<pluginPrefs>
	</pluginPrefs>
</e107Plugin>