body {
	color: #000;
	background-color: #FFFFFF;
	margin:0px;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
	font-style: normal;
}

.header_setup {
	margin-left:0px;
	margin-right:auto;
	padding-left:3px;
	padding-right:3px;
	width:770px;
	background-color:#6A6A6A;
	border:1px solid black
}

a.languagelink:link, a.languagelink:visited {
	color:white;
}

a.languagelink_active:link, a.languagelink_active:visited {
	color:white;
	text-decoration:underline;
}

.newscat{


}

.newscat_table {
   	width:100%;
	margin-bottom:3px
}

.newscat_link {
	text-align:left;
	font-size:12px;
	color:#fff
}

.othernews2 {
	padding:3px;
	background-color:#6A6A6A
}

td {
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
	font-style: normal;
}

a:link {
 color: #333333;
 font-weight: bold;
 text-decoration: none;
 }

a:visited {
 color: #333333;
 font-weight: bold;
 text-decoration: none;
}

a:hover {
 color: #333333;
 font-weight: bold;
 text-decoration: underline;
}


a.forumlink{
	color: #fff;
	text-decoration: underline;
}

a.forumlink:visited{
	color: #fff;
	text-decoration: underline;
}

#clock {
 font-family: arial, "ms sans serif", sans-serif;
}

.newsroom {
	background-color: #333333;
	color: #fff;
	cursor: pointer;
}
.newsroom A:link, .newsroom A:visited {
	color: #fff;
}
.newsroom A:link, TR .newsroom A:visited {
	text-decoration: none;
}

.newsroomHilite {
	background-color: #c00;
	color: #fff;
	cursor: pointer;
}
.newsroomHilite A:link, .newsroomHilite A:visited {
	color: #fff;
}
.newsroomHilite A:link, .newsroomHilite A:visited {
	text-decoration: none;
}



.leftcap {
	background-color: #ddd;
	background-image : url(images/fheader.png);
	color: #000;
	border-bottom:1px solid black;
	border-top:1px solid white;
	padding:3px
}




.newsroomRow  {
	vertical-align: middle;
	border: 1px solid;
	border-color: #666666 #003 #003;
}

.dent {
	background-color: #464545;
	border-right: none;
}



.newsroomHiliteRow  {
	vertical-align: middle;
	border: 1px solid;
	border-color: #f66 #600 #600;
}

.denthi {
	background-color: #f66;
	border-right: none;
}




h3 {
 font-family: verdana, arial, "ms sans serif", sans-serif;
 font-size: 16px;
 margin: 10px;
 line-height: 18px;
 padding-left: 5px;
 color: #e9ffe9;
 }



.smalltext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#000;
	text-align: right;
}
.smallblacktext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#000;
}
.defaulttext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#000;
}
.defaultwhitetext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#ffffff;
}
.defaultblacktext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#000;
}
.mediumtext {
    background: none;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000;
}
.captiontext {
    background: none;
	letter-spacing: 0.4em;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 18px;
	color:#5a6f5a;
}
.tbox{
	background-color: #666666;
	border: #666666 1px inset;
	color: #ffffff;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
}
.button{
	background-color: #333333;
	border: #666666 1px outset;
	color: #ffffff;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 9px;
	text-align:center;
}
form {
	margin: 0px 0px 0px 0px;
}
.spacer{
	padding-bottom : 2px;
	padding-left : 0px;
	padding-right : 2px;
	padding-top : 2px;
}
hr {
	border-top: #666 1px solid;
	border-bottom: #eee 1px solid;
	height: 2px;
	width: 92%;
	text-align:center;
}
.border {
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
}
.caption {
	border-bottom: #000000 1px solid;
	letter-spacing: 0.2em;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	background-color: #333333;
	color: white;
	text-align:left;
	text-transform:uppercase;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 11px;
}

.caption2 {
	border-bottom: #000000 1px solid;
	letter-spacing: 0.2em;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	background-color: #333333;
	color: #ffffff;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 10px;
}

.bodytable {
	width:100%;
	background-color: #ffffff;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	font-family: verdana, arial, "ms sans serif", sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#000;

}

.nextprev {
	background-color: #E3E1E1;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
	text-align:right;
}

.fborder {
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	background-color: #fff;
}

.forumheader{
	background-color: #EBEFF2;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color:#000;
	padding: 4px;
	background-image : url(images/fheader.png);
	border: #C3BDBD 1px solid;
}

.forumheader2{
	background-color: #EFEFEF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.forumheader3{
	background-color: #E3E1E1;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}



.fcaption {
	text-align:left;
	border: #000 1px solid;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 2px;
	background-color: #C9C7C7;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color:#fff;
}


.helpbox {
	border-bottom: #fff 1px solid;
	border-left: #fff 1px solid;
	border-right: #fff 1px solid;
	border-top: #fff 1px solid;
	color:#000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 9px;
}

.linkspage_button{
	vertical-align: middle;
	border:0px;
}