<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: plugin.xml,v 1.24 2009-09-21 22:14:44 e107coders Exp $ -->
<e107Plugin name="Forum" version="2.0" compatibility="0.8" installRequired="true" xhtmlcompliant="true" >
	<author name="e107 Inc." url="http://e107.org" />
	<description>This plugin is a fully featured Forum system</description>
	<category>content</category> 
	<administration>
		<configFile>forum_admin.php</configFile>
		<subMenuItem title="Front Page" description="Forum Front Page" link="forum_admin.php" icon="manage" />
		<subMenuItem title="Create Parents" description="Create Forum Parents" link="forum_admin.php?cat" icon="add" />
		<subMenuItem title="Create Forums" description="Create Forums" link="forum_admin.php?create" icon="images/forums_16.png" />
		<subMenuItem title="Preferences" description="Forum Preferences" link="forum_admin.php?opt" icon="settings" perm="0" />
		<icon>images/forums_32.png</icon>
		<iconSmall>images/forums_16.png</iconSmall>
		<caption>Configure Forum</caption>
		<installDone>Your forum is now installed</installDone>
	</administration>
	<menuLink name="Forum" url="forum/forum.php" perm='everyone' />
	<mainPrefs>
		<pref name="forum_show_topics">1</pref>
		<pref name="forum_postfix">[more...]</pref>
		<pref name="forum_poll">255</pref>
		<pref name="forum_popular">10</pref>
		<pref name="forum_track">1</pref>
		<pref name="forum_eprefix">[forum]</pref>
		<pref name="forum_enclose">1</pref>
		<pref name="forum_title">Forums</pref>
		<pref name="forum_postspage">10</pref>
		<pref name="forum_threadspage">25</pref>
		<pref name="forum_hilightsticky">1</pref>
	</mainPrefs>
	<userclass name="forum_moderator" description="Moderator of all forums" />
	<extendedField name="viewed" type='EUF_TEXTAREA' default='0' active="true" />
	<extendedField name="posts" type='EUF_INTEGER' default='0' active="true" />
	<management>
		<install when="post" type="classFunction" file="forum_management.php" class="forum_management" function="forum_install_post" />
		<uninstall type="classFunction" file="forum_management.php" class="forum_management" function="forum_uninstall" />
		<upgrade type="classFunction" file="forum_management.php" class="forum_management" function="forum_upgrade"  />
	</management>
</e107Plugin>
