<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Newsfeeds" lan="LAN_PLUGIN_NEWSFEEDS_NAME" version="2.1" date="2021-01-01" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="https://e107.org" email="noreply@e107.org" />
	<description lan="LAN_PLUGIN_NEWSFEEDS_DESCRIPTION">This plugin will retrieve rss feeds from other websites and display them according to your preferences.</description>
	<category>content</category>
	<copyright>Copyright e107 Inc e107.org, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<adminLinks>
		<link url='admin_config.php' description='Configure Newsfeeds' icon='images/newsfeed_32.png' iconSmall='images/newsfeed_16.png' primary='true' >Configure Newsfeeds</link>	
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}newsfeed/newsfeed.php" sef="index" >LAN_PLUGIN_NEWSFEEDS_NAME</link>
	</siteLinks>	
</e107Plugin>