


/* IMAGE LIST */

.gallery-list-start		{ clear:both; }

.gallery-list-item		{ width:190px; height:180px; float:left; margin:3px; border:1px solid #000000; background-color:#000000 }

.gallery-list-end		{ text-align:center; clear:both; padding-top:20px; }

.gallery-list-caption 	{ display:block; text-align:center; color:#FFFFFF; }


/* CATEGORY LIST */

.gallery-cat-start		{ clear:both; }

.gallery-cat-item		{ width:190px; height:180px; float:left; margin:3px; border:1px solid #000000; background-color:#000000; }

.gallery-cat-end		{ text-align:center; clear:both; }

.gallery-cat-title		{ text-align:center; }

.gallery-list-nextprev	{ text-align:center; }

.gallery-list-back		{ }

.lb-dataContainer		{ padding-top:10px; font-size: 110%;}

.lb-caption				{  }


/* SLIDESHOW */
#gallery-slideshow-wrapper 			{ -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; width: 660px;  height: 146px;  overflow: hidden; background: #000000; margin-left:auto;margin-right:auto }
#gallery-slideshow-content 			{ width: 3500px; }
#gallery-slideshow-content .slide 	{ float: left; width: 660px; padding:12px; height: 146px; }
.gallery-slideshow-controls			{ clear:both; width: 660px; margin-left:auto; margin-right:auto; padding-bottom:10px; }
.gallery-slide-item					{ margin-right:8px;   }
.gallery-slideshow-thumb			{ -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
