


/* IMAGE LIST */

ul.gallery > li > div > h5 			{ text-align: center }
ul.gallery-cat > li > div > h3 		{ text-align: center }

/* CATEGORY LIST */



.lb-dataContainer					{ padding-top:10px; font-size: 110%;}

.lb-caption							{  }


/* SLIDESHOW */

#gallery-slideshow-wrapper 			{ display:block; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; width: 660px;  height: 146px;  overflow: hidden; background: #000000; margin-left:auto;margin-right:auto }

#gallery-slideshow-content 			{ width: 3500px; }

#gallery-slideshow-content .slide 	{ float: left; width: 660px; padding:12px; height: 146px; }

.gallery-slideshow-controls			{ clear:both; width: 660px; margin-left:auto; margin-right:auto; padding-bottom:10px; }

.gallery-slide-item					{ margin-right:8px;   }

.gallery-slideshow-thumb			{ -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;  }

.gallery-slideshow-thumb:hover		{  }

.gallery-slide-jumper-container		{ text-align:center; padding-left:250px;}

.gallery-slide-jumper 				{ padding:3px;}

.gallery-slide-jumper-selected 		{ font-weight:bold }






