<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Gallery" lan="LAN_PLUGIN_GALLERY_TITLE" version="1.1" date="2016-03-30" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="https://e107.org" />
	<description lan="LAN_PLUGIN_GALLERY_DIZ">A simple image gallery</description>
	<category>content</category>
	<adminLinks>
		<link url='admin_gallery.php' description='LAN_CONFIGURE' icon='images/gallery_32.png' iconSmall='images/gallery_16.png' primary='true' >LAN_CONFIGURE</link>		
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}gallery/gallery.php" sef='index' perm="everyone" >LAN_PLUGIN_GALLERY_TITLE</link>
	</siteLinks>	
	<mainPrefs>
	</mainPrefs>
	<mediaCategories>
		<category type="image" sef="gallery-1" perm="everyone" image='{e_PLUGIN}gallery/images/butterfly.jpg'>Gallery 1</category>
	</mediaCategories>
	<pluginPrefs>
		<pref name="popup_w">800</pref>	
		<pref name="popup_h">800</pref>	
		<pref name="slideshow_category">1</pref>
		<pref name="slideshow_duration">1000</pref>
		<pref name="slideshow_auto">1</pref>
		<pref name="slideshow_freq">4000</pref>
		<pref name="slideshow_effect">scrollHorz</pref>	
		<pref name="perpage">12</pref>
		<pref name="orderby">media_id DESC</pref>
		<pref name="pp_global">0</pref>
		<pref name="pp_hook">data-gal</pref>
		<pref name="pp_animation_speed">fast</pref>
		<pref name="pp_slideshow">5000</pref>
		<pref name="pp_autoplay_slideshow">0</pref>
		<pref name="pp_opacity">0.80</pref>
		<pref name="pp_show_title">1</pref>
		<pref name="pp_allow_resize">1</pref>
		<pref name="pp_default_width">500</pref>
		<pref name="pp_default_height">344</pref>
		<pref name="pp_counter_separator_label">/</pref>
		<pref name="pp_theme">pp_default</pref>
		<pref name="pp_horizontal_padding">20</pref>
		<pref name="pp_hideflash">0</pref>
		<pref name="pp_wmode">opaque</pref>
		<pref name="pp_autoplay">1</pref>
		<pref name="pp_modal">0</pref>
		<pref name="pp_deeplinking">0</pref>
		<pref name="pp_overlay_gallery">0</pref>
		<pref name="pp_keyboard_shortcuts">1</pref>
		<pref name="pp_ie6_fallback">1</pref>
	</pluginPrefs>
</e107Plugin>
