<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: plugin.xml,v 1.15 2009-10-22 04:14:45 e107coders Exp $ -->
<e107Plugin name="Gallery" version="1.0" compatibility="0.8" installRequired="true" releaseUrl=''>
	<author name="e107 Inc." url="http://e107.org" />
	<description>Gallery</description>
	<category>content</category>
	<languageFiles>
		<file type='install' path='languages/--LAN--/admin_gallery.php' />
	</languageFiles>
	<adminLinks>
		<link url='admin_gallery.php' description='LAN_CONFIGURE' icon='images/gallery_32.png' iconSmall='images/gallery_16.png' primary='true' >LAN_CONFIGURE</link>		
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}gallery/gallery.php" sef="gallery" perm="everyone" >Gallery</link>	
	</siteLinks>	
	<mainPrefs>
	</mainPrefs>
	<pluginPrefs>	
		<pref name="slideshow_category">1</pref>
		<pref name="slideshow_duration">1</pref>
		<pref name="slideshow_auto">1</pref>
		<pref name="slideshow_freq">4</pref>
		<pref name="slideshow_effect">scrollHorz</pref>	
	</pluginPrefs>
</e107Plugin>
