<?xml version="1.0" encoding="iso-8859-1"?>

<!-- $Id: plugin.xml,v 1.2 2009-07-14 03:57:22 e107coders Exp $ -->

<e107Plugin name="TRACKBACK_L16" version="1.1" compatibility="0.8" installRequired="true">
	<author name="e107 Inc." url="http://e107.org" email="jalist@e107.org" />
	<description>TRACKBACK_L2</description>
	<folder>trackback</folder>
	<copyright>Copyright e107 Inc e107.org, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<logLanguageFile filename="languages/--LAN--_admin_trackback.php" />
	<administration>
		<configFile>admin_config.php</configFile>
		<icon>images/trackback_32.png</icon>
		<iconSmall>images/trackback_16.png</iconSmall>
		<caption>TRACKBACK_L1</caption>
		<installDone>TRACKBACK_L3</installDone>
	</administration>
	<mainPrefs>
		<pref name="trackbackEnabled" value="0" />
		<pref name="trackbackString" value="Trackback address for this post:" />
	</mainPrefs>
</e107Plugin>