@font-face {
  font-family: 'social';
  src:  url('fonts/social.eot?dje1ws');
  src:  url('fonts/social.eot?dje1ws#iefix') format('embedded-opentype'),
    url('fonts/social.ttf?dje1ws') format('truetype'),
    url('fonts/social.woff?dje1ws') format('woff'),
    url('fonts/social.svg?dje1ws#social') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="e-social-"], [class*=" e-social-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-social-behance:before {
  content: "\e926";
}
.e-social-telegram:before {
  content: "\e923";
}
.e-social-snapchat:before {
  content: "\e911";
}
.e-social-map:before {
  content: "\f041";
}
.e-social-sms:before {
  content: "\f075";
}
.e-social-facebook-square:before {
  content: "\f082";
}
.e-social-github-square:before {
  content: "\f092";
}
.e-social-phone:before {
  content: "\f095";
}
.e-social-phone-square:before {
  content: "\f098";
}
.e-social-facebook:before {
  content: "\f09a";
}
.e-social-github:before {
  content: "\f09b";
}
.e-social-mobile:before {
  content: "\f10b";
}
.e-social-tumblr:before {
  content: "\f173";
}
.e-social-twitch:before {
  content: "\f1e8";
}
.e-social-whatsapp:before {
  content: "\f232";
}
.e-social-map-o:before {
  content: "\f278";
}
.e-social-meetup:before {
  content: "\f2e0";
}
.e-social-steam:before {
  content: "\e902";
}
.e-social-vimeo:before {
  content: "\e905";
}
.e-social-skype:before {
  content: "\e906";
}
.e-social-wordpress:before {
  content: "\e907";
}
.e-social-yelp:before {
  content: "\e908";
}
.e-social-dropbox:before {
  content: "\e909";
}
.e-social-vk:before {
  content: "\e90a";
}
.e-social-gplus:before {
  content: "\e90b";
}
.e-social-google:before {
  content: "\e90c";
}
.e-social-apple:before {
  content: "\e90d";
}
.e-social-digg:before {
  content: "\e90e";
}
.e-social-stumbleupon:before {
  content: "\e90f";
}
.e-social-flickr:before {
  content: "\e910";
}
.e-social-youtube-play:before {
  content: "\e912";
}
.e-social-youtube:before {
  content: "\e913";
}
.e-social-pocketpocket:before {
  content: "\e914";
}
.e-social-rss:before {
  content: "\e915";
}
.e-social-pinterest:before {
  content: "\e916";
}
.e-social-instagram:before {
  content: "\e917";
}
.e-social-linkedin:before {
  content: "\e918";
}
.e-social-export:before {
  content: "\e919";
}
.e-social-share:before {
  content: "\e91a";
}
.e-social-foursquare:before {
  content: "\e91b";
}
.e-social-thumbs-up:before {
  content: "\e91c";
}
.e-social-thumbs-up-solid:before {
  content: "\e91d";
}
.e-social-mail:before {
  content: "\e91e";
}
.e-social-mail-alt:before {
  content: "\e91f";
}
.e-social-reddit:before {
  content: "\e925";
}
.e-social-spotify:before {
  content: "\e920";
}
.e-social-soundcloud-alt:before {
  content: "\e901";
}
.e-social-soundcloud:before {
  content: "\e904";
}
.e-social-pushpin:before {
  content: "\e946";
}
.e-social-vine:before {
  content: "\ea97";
}
.e-social-dribbble:before {
  content: "\eaa7";
}
.e-social-blogger:before {
  content: "\eab7";
}
.e-social-android:before {
  content: "\eac0";
}
.e-social-linkedin-rect:before {
  content: "\eac9";
}
.e-social-delicious:before {
  content: "\eacd";
}
.e-social-flattr:before {
  content: "\ead5";
}
.e-social-discord:before {
  content: "\e900";
}
.e-social-instapaper:before {
  content: "\e903";
}
.e-social-twitter:before {
  content: "\e924";
}
.e-social-squarespace:before {
  content: "\e921";
}
.e-social-tiktok:before {
  content: "\e922";
}
