<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: plugin.xml,v 1.8 2009-10-22 04:14:45 e107coders Exp $ -->
<e107Plugin name="Tagwords" version="1.0" date="2012-08-01" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="http://e107.org/" />
	<description>A fully featured Tagword system</description>
	<category>misc</category>
	<adminLinks>
		<link url='admin_tagwords_config.php' description='Configure Tagwords' icon='images/tagwords_32.png' iconSmall='images/tagwords_16.png' primary='true' >Configure Tagwords</link>	
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}tagwords/tagwords.php" perm="everyone">Tagwords</link>
	</siteLinks>
</e107Plugin>