<?xml version="1.0" encoding="iso-8859-1"?>
<!-- $Id: plugin.xml,v 1.7 2009-07-14 03:50:56 e107coders Exp $ -->
<e107Plugin name="POLL_ADLAN01" version="2.0" compatibility="0.8" installRequired="true" >
	<author name="e107 Inc." url="http://e107.org" />
	<description>POLL_ADLAN02</description>
	<folder>poll</folder>
	<category>content</category>  
	<logLanguageFile filename="languages/--LAN--_admin_poll.php" />
	<commentID>poll</commentID>
	<administration>
		<configFile>admin_config.php</configFile>
		<icon>images/polls_32.png</icon>
		<iconSmall>images/polls_16.png</iconSmall>
		<caption>POLL_ADLAN03</caption>
		<installDone>POLL_ADLAN04</installDone>
	</administration>
	<mainPrefs>
	</mainPrefs>
</e107Plugin>