<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="TinyMce4" version="1.0" date="2014-01-15" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="http://e107.org" />
	<description>TinyMce4 CDN version</description>
	<category>misc</category>
    <keywords>
        <word>default</word>
        <word>editor</word>
        <word>wysiwyg</word>
    </keywords>
    <adminLinks>
        <link url='admin_config.php' description='Configure' icon='images/icon_32.png' iconSmall='images/icon_16.png' primary='true' >Configure</link>
    </adminLinks>
    <pluginPrefs>
        <pref name="paste_as_text">0</pref>
        <pref name="browser_spellcheck">1</pref>
        <pref name="visualblocks">1</pref>
        <pref name="code_highlight_class">prettyprint linenums</pref>
    </pluginPrefs>
</e107Plugin>