body {
background-color: #121A1D;
background-image: url(images/back_fade.jpg);
background-repeat: repeat-x;
margin: 0px 0px 0px 0px;
}

td,tr,p,div {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cccccc;
}


.incontent{
text-align:left;
padding-bottom:8px;
}

div#contentblock table td.newsflash {
	padding:0px;
}


.smalltext{

}

.forumheader2 {
text-align:left;
}

.forumheader3 {
text-align:left;
padding:3px;
}

.forumheader {
font-weight:bold;
text-align:left;
}

.fcaption {
background: #182327 url(images/menu1_fade.jpg) repeat-x;
}


.logo {
	height: 111px;
	background: url(images/header.jpg) no-repeat;
}

.spacer{

}

.content_box {
	padding: 4px;
	text-align:left
}

.search_box {
	padding: 10px;
}



#Clock {
	float: right;
	width: 160px;
	text-align: right;
	padding: 3px 10px 0px 0px;
	font-size: 11px;
	font-weight: bold;
	color: #304651;
	white-space: nowrap;
}

#silver_menu {
	overflow: hidden;
	height: 26px;
	width: 400px;
	float: left;
	padding: 0px;
}

#silver_toolbar {
	width: 100%;
}

.silver_box {
	width: 100%;
	border-top: solid 1px #9DA6B3;
	border-bottom: solid 1px #9DA6B3;
	text-align: center;
	background: url(images/silver_background.jpg) repeat-x;
	padding: 0px 0px 0px 0px;
}

.middle_box {
	padding: 4px;
	border-left: solid 1px #9DA6B3;
	background: #2E4452 url(images/menu2_fade.jpg) repeat-x;
}

.right_box {
	padding: 4px;
	border-left: solid 1px #9DA6B3;
	background: #182327 url(images/menu1_fade.jpg) repeat-x;
}

.searchblock {
	color: #ff6600;
}

.top_right_box {
	border-left: solid 1px #9DA6B3;
	background: #000000;
	padding: 0px;
}

.page_bg {
	background: #121A1D url(images/back_fade.jpg) repeat-x;
	padding: 20px 0px 20px 0px;
	margin: 0px;
	border: 0px;
}

.big_frame {
	width: 798px;
	border: solid 1px #9DA6B3;
}


/* required stuff */

#content-pane .tab-page {
	background: #000000;
}


.contentpaneopen {
	text-align: left;
	width: 100%;
	padding: 0px;
}

.small {
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 10px;
	text-align: left;
}

.modifydate {
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 10px;
	text-align: left;
}

.createdate {
	line-height: 15px;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	vertical-align: top;
	display: block;
}

.contentheading {
	background: url(images/title_background.png) no-repeat;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	height: 24px;
	text-transform: uppercase;
}

.contentpagetitle {
	font-size: 13px;
	font-weight: bold;
	color: #cccccc;
	text-align:left;
}

/* For content item titles that are hyperlink instead of Read On */
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-size: 13px;
	font-weight: bold;
	color: #ff6600;
	text-align:left;
	text-decoration: none;
}

a.contentpagetitle:hover {
	color: #ffffff;
}

table.moduletable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border-left: solid 0px #000000;
	border-right: solid 0px #000000;
	border-top: solid 0px #000000;
	border-bottom: solid 0px #000000;
}

.menuheader {
	background: url(images/title_background.png) no-repeat;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	height: 24px;
	text-transform: uppercase;
}

table.moduletable td {
	font-size: 11px;
	padding: 0px;
	font-weight: normal;
}

table.moduletable ul {
	color: #ff0000;
}

div#menublock table.moduletable td {
	padding: 0px;
}

#mainlevel-nav {
margin: 0; padding: 0;
}
#mainlevel-nav li {
text-transform:capitalize;
background-image: none;
list-style:none;
float: left;
margin: 0px;
padding-left: 15px;
padding-right: 15px;
font-size: 11px;
line-height:24px;
height: 26px;
white-space: nowrap;
border-right: 1px solid #9DA6B3;
}
#mainlevel-nav a {

float: right;
text-decoration: none;
color: #304651;
}
#mainlevel-nav a {
float: none;
}
#mainlevel-nav a:hover {
color: #ff6600;

}

.mainlevel,.mainlevel-over, a.mainlevel:link, a.mainlevel:visited {
	background: url(images/menu_bullet.png) no-repeat;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #ff6600;
	text-align: left;
	padding-left: 15px;
	height: 18px;
	margin-bottom: 1px;
}


.mainlevel-hilite,a.mainlevel-hilite:link, a.mainlevel-hilite:visited {
	background: url(images/title_background.png) no-repeat;
	background-position: 0px -3px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	padding-left: 15px;
	height: 18px;
	margin-bottom: 1px;
}

.mainlevel-over, a.mainlevel:hover {
	background-position: 0px -20px;
	text-decoration: none;
	color: #ffffff;
}



.pollstableborder {
	border: 1px solid;
	padding: 1px;
}

a.sublevel:link, a.sublevel:visited {
	padding-left: 1px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #ff6600;
	text-align: left;
}

#active_menu {
	color:#ffffff;
	font-weight: bold;
}

a.sublevel:hover {
	color: #ffffff;
	text-decoration: none;
}

a.mainmenu:link, a.mainmenu:visited {
	color: #ffffff; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	padding-left:10px;
	padding-right:10px;
}

a.mainmenu:hover {
	color: #D6DF8C;
	text-decoration: none;
}



a:link, a:visited {
	color: #ff6600; text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #9AB6C2;	text-decoration: none;
	font-weight: bold;
}

a.category:link, a.category:visited {
	color: #ff6600;
	text-decoration: none;
	font-weight: bold;
}

a.category:hover {
	color: #9AB6C2;
	text-decoration: none;
	font-weight: bold;
}

a.pagenav, a.pagenav:visited {
	font-weight: bold;
	color: #ff6600;
	text-decoration: none;
}

a.pagenav:hover {
	color: #9AB6C2;
	text-decoration: none;
}

.frontpageheader {
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}

.newsfeedheading {
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-align:left;
}

.newsfeeddate {
	font-size: 10px;
	color: #666666;
	font-weight: normal;
}

.fase4rdf a:link {
	color: #745632;
	text-decoration: none;
	font-weight: bold;
}

.fase4rdf a:hover {
	color: #cc9900;
}

.componentheading {

	background: url(images/title_background.png) no-repeat;
	vertical-align: top;
	padding-top: 4px;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	height: 24px;
	text-transform: uppercase;
}

.sectiontableheader {
	background : #293C43;
	color : #ffffff;
	font-weight : bold;
	padding: 3px;
}

.sectiontableentry1 {
	background-color : #0D1315;
	padding: 2px;
}

.sectiontableentry2 {
	background-color : #151E22;
	padding: 2px;
}

div#middle_box .sectiontableentry1 {
	background-color : #3E5867;
	padding: 2px;
}

div#middle_box .sectiontableentry2 {
	background-color : #516B79;
	padding: 2px;
}

div#right_box .sectiontableentry1 {
	background-color : #182327;
	padding: 2px;
}

div#right_box .sectiontableentry2 {
	background-color : #293C43;
	padding: 2px;
}





ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li
{
	line-height: 15px;
	padding-left: 15px;
	padding-top: 0px;
	background-image: url(images/arrow.png) ;
	background-repeat: no-repeat;
	background-position: 0px 3px;
}



.button {
	font-weight: bold;
	border:solid 1px #9DA6B3;
	background-color: #293B42;
	color: #ff6600;
	text-align: center;
	font-size: 9px;
	margin-top: 5px;
}

.tbox {
	font-weight: normal;
	color: #cccccc;
	background: #000000;
	border: 1px solid #9DA6B3;
    font-size: 10px;
}

/* ---------------- unedited below here ----------------------*/

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #121A1D;
	border-left: outset 1px #9DA6B3;
	border-right: outset 1px #9DA6B3;
	border-top: outset 1px #9DA6B3;
	border-bottom: solid 0px #ffffff;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	color: #ff6600;
}
.offtab {
	background-color: #25343B;
	border-left: outset 1px #9DA6B3;
	border-right: outset 1px #9DA6B3;
	border-top: outset 1px #9DA6B3;
	border-bottom: solid 1px #9DA6B3;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	color: #cccccc;
}


.tabheading {
	background-color: #eeeeee;
	text-align: left;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}

h4 {
	color: #cccccc;
	font-size: 16px; font-weight: bold;
}

h5 {
	color: #cccccc;
	font-size: 14px; font-weight: bold;
}

h6 {
	color: #dddddd;
	font-size: 12px; font-weight: bold;
}

/* Horizontal Line */
hr {
	background: #999999; height:1px; border: 1px solid;
}

hr.separator {
	background: #495C5F;
	height: 1px;
	width: 75px;
	border: 0px;
}


/* Content - Sections & Categories */


table.contenttoc {
	color: #333300;
	background-color: #e0e0e0;
}

table.contenttoc td {
	font-size: 8pt;
	font-weight: normal;
	text-align:left;
}

.contentdescription {
	color: #cccccc;
	text-align: left;
}

/** category text format and links **/
.category {
	color: #ff0000;
	font-size: 11px; font-weight: bold; text-decoration: none;
}



.poll {
	font-size: 10px;
	line-height: 14px
}

table.pollstableborder {
	border: 0px;
}

.contentpane {
	background: #121A1D;
}

.smalldark {
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}

table.searchinto {
	width: 100%;
}

table.searchintro td {
	background-color: #293C43;
	color: #ffffff;
	font-weight: bold;
}


table.contact {
	background-color: #0D1315;
}

table.contact td.icons {
	background-color: #000000;
	font-weight: bold;
}

table.contact td.details {
	background-color: #293C43;
	color: #ffffff;
	font-weight: bold;
}

.pagenav {
	font-weight: normal;
}

.pagenavbar {

}

/* Content voting */
.content_rating {
	font-weight: normal;
	font-size: 8pt;
}

.content_vote {
	font-weight: normal;
	font-size: 8pt;
}

/* Javascript Back button */
.back_button {
	text-align: center;
	margin-top: 40px;
}

.readon {
	margin-bottom: 10px;

}

strong {
	color: #ffcc00;
}

form {
/* removes space below form elements */
	margin: 0;
 	padding: 0;
}