
body {
	background: #ffffff url(images/background.png) no-repeat; text-align: left; margin: 12px;
	font: 7pt Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin: 5px;
	padding: 5px;
}

/* Header / logo ... */
#header {
	height: 124px;
	width: 100%;
	background: url(images/logo2.png) repeat-x;
	float: left;
}

#logo1 {
	position: absolute;
	left:10px;
	top:10px;
	width: 192px;
	height: 124px;
	background: url(images/logo1.png) no-repeat;
}

#headerr {
	position: absolute;
	right:10px;
	top:10px;
	height: 124px;
	width: 8px;
	background-repeat: no-repeat;
	background: url(images/logo3.png) no-repeat;
}

#banner {
	position: absolute;
	right:26px;
	top:40px;
}

/* end */

/* main layout ... */

#mainbox {
	width: 100%;
	margin: 0; padding: 0;
}


#leftcontent {
	position: absolute;
	top: 136px;
	left: 10px;
	width: 18%;
	margin:0; padding:0;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}
#rightcontent {
	position: absolute;
	top: 136px;
	right: 10px;
	width: 18%;
	margin:0; padding:0;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;

}

#centercontent {
	font: 9px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-left: 20%;
	width: 60%;
}

#footer {
	text-align: center;
	
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
	color:#5d6e75;
}

.clear {
	clear: both;
}







.dcaption {
    width: 100%;
}

.dcaption .left { background: url('images/topleft.png') no-repeat; float: left; height: 26px; width: 9px; margin-right: -3px; }
.dcaption .right { background: url('images/topright.png') no-repeat; float: right; height: 26px; width: 9px; margin-left: -3px; }
.dcaption .center {background-image: url('images/top.png'); color: #111; font: 10px Verdana, Tahoma, Arial, Helvetica, sans-serif; height: 26px; line-height: 26px; }

.dbody {
    width: 100%;
}

.dbody .leftwrapper {
	margin:0; padding:0;
	background: url("images/left.png") left repeat-y;
}
.dbody .rightwrapper {
	margin:0; padding:0;
	background: url("images/right.png") right repeat-y;
}
.dbody .leftcontent {
	float:left;
	width:9px;
	margin:0; padding:0;
}
.dbody .rightcontent {
	float:right;
	width:9px;
	margin:0; padding:0;
}
.dbody .dcenter {
    background: #EEE url('images/menubg.png');
	margin: 0 5px;
}
.dbody .dinner {
	color: #222;
    font: 9px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding: 4px;
}

.dbottom .left { background: url('images/bottomleft.png') no-repeat; float: left; height: 8px; width: 9px;  font-size: 1px; margin-right: -3px;}
.dbottom .right { background: url('images/bottomright.png') no-repeat; float: right; height: 8px; width: 9px;  font-size: 1px; margin-left: -3px;}
.dbottom .center {background-image: url('images/bottom.png');height: 8px;  font-size: 1px; }

.dntop {
	border-bottom: 1px solid #a9a9a9;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

/* end */



.tbox.chatbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


a {
	color: #00006e; 
	font-family: verdana, arial, sans-serif; 
	text-decoration: none;
}
a:hover {
	color: #ec5800;
	font-family: verdana, arial, sans-serif; 
	text-decoration: underline;
}


.smalltext {
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
	color:#5d6e75;
}

form {
	display: inline;
}
.spacer {
	padding: 2px 0 2px 0;
}

#wm {
	voice-family: "\"}\"";
	voice-family: inherit;
	background: #f3eded url(images/wblogo.png) bottom right no-repeat;
	border: 1px solid #ede3e3;
	padding: 10px 150px 10px 10px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.button {	
	border: #b7b5b5 1px solid;
	color: #000;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	text-align:center;
	background-image : url(images/button.png);
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
  color: #ec5800;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
  color: #ec5800;
}

.newstext {
	font-size: 8pt;
	line-height: 120%;
	color: black;
	text-align: left;
	font: 7pt verdana, tahoma, arial, helvetica, sans-serif;
}

.newheadline {
	font-size: 13px;
	color: #ec5800;
}

.newsinfo {
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
	color:#5d6e75;
}

.newsinfo a {
	background: transparent;
	color: #5d6e75; 
}

.newsinfo a:hover {
	color: #ec5800;
	text-decoration: underline;
}





#pollquestion {
	font: 8pt Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.helpbox {
	color:#000;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
	border: 0px none red;
	background-color: transparent;
}

.nforumholder {
	border: 1px solid #345487;
	padding: 0px;
	background: transparent;
}

.nforumcaption {
	background-image: url(images/nforumcaption.png);
	padding: 8px 4px 8px 4px;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	color: #fff;
}

.nforumcaption2 {
	background-image: url(images/nforumcaption2.png);
	padding: 8px 0px 8px 4px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}

.nforumcaption3 {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg.png);
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumthread {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg2.png);
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumthread2 {
	border: 1px solid #fff;
	padding: 4px;
	background-color: #D1DCEB;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreplycaption {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg2.png);
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreply {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg2.png);
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumreply2 {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg.png);
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}
.nforumdisclaimer {
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	color:#5d6e75;
}

.nforumview1 {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg.png);
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumview2 {
	border: 1px solid #fff;
	padding: 4px;
	background-repeat: repeat; background-image: url(images/menubg.png);
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.nforumview3 {
	padding: 4px;
	background-color: #BCD0ED;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #263448;
}

.nforumview4 {
	padding: 4px;
	background-color: #E4EAF2;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	color: #3A4F6C;
}

a.forumlink{
	color: #4943c1;
	text-decoration: none;
}

a.forumlink:hover {
	color: #bbb;
	text-decoration: underline;
}

td {
	text-align: left;
}

.smallblacktext {
	font: 10px tahoma, verdana, arial, helvetica, sans-serif;
	color:#000;
	line-height: 120%;
}

.tbox{
	background-color: #fff;
	border: #b7b5b5 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.forumheader{
	background: transparent;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	background-image: url(images/nforumcaption2.png);
}

.forumheader2{
	background: transparent;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
}

.forumheader3{
	background: transparent;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
}

.forumborder{
	border: #000080 1px solid;
}

.chatb {
	font-size: 12px;
}

.chatb a {
	background: transparent;
	color: #ec5800; 
}

.chatb a:hover {
	color: #616060;
	font-family: verdana, arial, sans-serif; 
	text-decoration: underline;
}

p {
	margin-top: 0px
}

.indent{
	padding: 10px 10px 10px 10px;
	margin: 5px;
	font: 9px verdana, tahoma, arial, sans-serif;
	color: #838387;
	border: 1px solid #d6d6d6;
}

.nextprev{
	color: #000000;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding : 2px;
	text-align: right;
}

ul {
	padding-left: 12px;
}

.commentinfo {
	background-image: url(images/nforumcaption2.png);
	padding: 8px 0px 8px 4px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}

.commentinfo a {
	background: transparent;
	color: #ec5800; 
}

.commentinfo a:hover {
	color: #616060;
	font-family: verdana, arial, sans-serif; 
	text-decoration: underline;
}

.mediumtext {
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}

.fcaption {
	background-image: url(images/nforumcaption2.png);
	padding: 8px 0px 8px 4px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}

hr {
	border-top: #666 1px solid;
	border-bottom: #fff 1px solid;
	height: 2px;
	width: 99%;
	text-align:center;
}

.linkspage_button{
	vertical-align: middle;
	border:0px;
}