<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: plugin.xml,v 1.7 2009-07-09 02:47:14 e107coders Exp $ -->
<e107Plugin name="Download" version="1.0" compatibility="0.8" installRequired="true">
	<author name="e107devs" url="http://e107.org"/>
	<description>DOWLAN_DESCRIPTION</description>
	<folder>download</folder>
	<category>content</category> 
	<installLanguageFile filename="languages/--LAN--/admin_download.php" />
	<administration>
		<configFile>download_admin.php</configFile>
		<subMenuItem title="DOWLAN_29" description="" link="download_admin.php" icon="manage" />
		<subMenuItem title="DOWLAN_30" description="" link="download_admin.php?create" icon="add" />
		<subMenuItem title="DOWLAN_31" description="" link="download_admin.php?cat" icon="images/downloads_32.png" />
		<subMenuItem title="DOWLAN_32" description="" link="download_admin.php?opt" icon="settings" />
		<subMenuItem title="DOWLAN_112" description="" link="download_admin.php?limits" icon="images/downloads_32.png" />
		<subMenuItem title="DOWLAN_128" description="" link="download_admin.php?mirror" icon="images/downloads_32.png" />
		<icon>images/downloads_32.png</icon>
		<iconSmall>images/downloads_16.png</iconSmall>
		<caption>DOWLAN_CAPTION</caption>
		<installDone>DOWLAN_INSTALL_DONE</installDone>
		<category>content</category>
	</administration>
	<menuLink name="DOWLAN_29" url="download/download.php" perm="everyone"/>
	<mainPrefs>
		<pref name="download_php" value="" />
		<pref name="download_subsub" value="1" />
		<pref name="download_incinfo" value="" />
		<pref name="download_view" value="" />
		<pref name="download_order" value="" />
		<pref name="download_sort" value="" />
		<pref name="download_reportbroken" value="0" />
		<pref name="mirror_order" value="" />
		<pref name="download_email" value="" />
		<pref name="agree_flag" value="" /> <!-- needs download prefix? -->
		<pref name="agree_text" value="" />
		<pref name="download_denied" value="" />
	</mainPrefs>
	<management>
		<install when="post" type="classFunction" file="download_management.php" class="download_management" function="download_install_post" />
		<uninstall type="classFunction" file="download_management.php" class="download_management" function="download_uninstall" />
		<upgrade type="classFunction" file="download_management.php" class="download_management" function="download_upgrade"  />
	</management>
</e107Plugin>
