<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Downloads" lan="LAN_PLUGIN_DOWNLOAD_NAME" version="1.2" date="2018-05-01" compatibility="2.0" installRequired="true">
	<author name="e107 Inc." url="http://e107.org" />
	<description lan="LAN_PLUGIN_DOWNLOAD_DIZ">This plugin is a fully featured file download system</description>
	<category>content</category>
	<adminLinks>
		<link url='admin_download.php' description='LAN_CONFIGURE' icon='images/downloads_32.png' iconSmall='images/downloads_16.png' primary='true' >DOWLAN_CAPTION</link>		
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}download/download.php" sef='index' perm="everyone">LAN_PLUGIN_DOWNLOAD_NAME</link>
	</siteLinks>	
	<mainPrefs>
		<pref name="download_php"></pref>
		<pref name="download_subsub">1</pref>
		<pref name="download_incinfo"></pref>
		<pref name="download_view"></pref>
		<pref name="download_order"></pref>
		<pref name="download_sort"></pref>
		<pref name="download_reportbroken">0</pref>
		<pref name="mirror_order"></pref>
		<pref name="download_email"></pref>
		<pref name="agree_flag"></pref> <!-- needs download prefix? -->
		<pref name="agree_text"></pref>
		<pref name="download_denied"></pref>
		<pref name="download_reportbroken">254</pref>
	</mainPrefs>
</e107Plugin>
